In [1]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup
from statistics import mode
pd.set_option('display.max_rows', 200)

In [2]:
#downloading initial file.
df_first=pd.read_csv('http://web.mta.info/developers/data/nyct/turnstile/turnstile_221008.txt',sep=',')
# second one to fill the empty rows after diff()
df_m1=pd.read_csv('http://web.mta.info/developers/data/nyct/turnstile/turnstile_221001.txt',sep=',')

In [3]:
df_first.shape

(211003, 11)

In [4]:
df_m1.shape

(211381, 11)

In [67]:
#concatenating files for the initail and -1 week to get values for the first row after diff()
df=pd.concat([df_m1,df_first],axis=0,ignore_index=True)
df.reset_index(inplace=True,drop=True)

In [68]:
df.shape

(422384, 11)

In [69]:
df.isnull().sum()

C/A                                                                     0
UNIT                                                                    0
SCP                                                                     0
STATION                                                                 0
LINENAME                                                                0
DIVISION                                                                0
DATE                                                                    0
TIME                                                                    0
DESC                                                                    0
ENTRIES                                                                 0
EXITS                                                                   0
dtype: int64

No null values

In [70]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 422384 entries, 0 to 422383
Data columns (total 11 columns):
 #   Column                                                                Non-Null Count   Dtype
---  ------                                                                --------------   -----
 0   C/A                                                                   422384 non-null  object
 1   UNIT                                                                  422384 non-null  object
 2   SCP                                                                   422384 non-null  object
 3   STATION                                                               422384 non-null  object
 4   LINENAME                                                              422384 non-null  object
 5   DIVISION                                                              422384 non-null  object
 6   DATE                                                                  422384 non-null  object
 7   TIME                                                                  422384 non-null  object
 8   DESC                                                                  422384 non-null  object
 9   ENTRIES                                                               422384 non-null  int64
 10  EXITS                                                                 422384 non-null  int64
dtypes: int64(2), object(9)
memory usage: 35.4+ MB

All columns except DATE and TIME are in the correct format. Let's unite that columns and change to datetime.

In [71]:
# snake_case column names
df.columns=df.columns.str.lower().str.replace(" ","")
# converting date to datetime format
df["datetime"]=df["date"]+" "+df["time"]
df.datetime=pd.to_datetime(df["datetime"])
df.drop(columns=["date","time"],inplace=True)

In [72]:
df.head(2)

,c/a,unit,scp,station,linename,division,desc,entries,exits,datetime
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,REGULAR,7767632,2742700,2022-09-24 00:00:00
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,REGULAR,7767638,2742703,2022-09-24 04:00:00

Now features are fine.

----

This code creates multindex that will help group dataframe and calculate absolute values for entries and exits instead of relevant.

In [73]:
df['stat_id']=df["station"]+" "+df["scp"]+" "+df["c/a"]
df=df.set_index(["datetime"])

df

,c/a,unit,scp,station,linename,division,desc,entries,exits,stat_id
datetime,,,,,,,,,,
2022-09-24 00:00:00,A002,R051,02-00-00,59 ST,NQR456W,BMT,REGULAR,7767632,2742700,59 ST 02-00-00 A002
2022-09-24 04:00:00,A002,R051,02-00-00,59 ST,NQR456W,BMT,REGULAR,7767638,2742703,59 ST 02-00-00 A002
2022-09-24 08:00:00,A002,R051,02-00-00,59 ST,NQR456W,BMT,REGULAR,7767648,2742732,59 ST 02-00-00 A002
2022-09-24 12:00:00,A002,R051,02-00-00,59 ST,NQR456W,BMT,REGULAR,7767680,2742803,59 ST 02-00-00 A002
2022-09-24 16:00:00,A002,R051,02-00-00,59 ST,NQR456W,BMT,REGULAR,7767756,2742863,59 ST 02-00-00 A002
...,...,...,...,...,...,...,...,...,...,...
2022-10-07 05:00:00,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,REGULAR,0,804,RIT-ROOSEVELT 00-05-01 TRAM2
2022-10-07 09:00:00,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,REGULAR,0,804,RIT-ROOSEVELT 00-05-01 TRAM2
2022-10-07 13:00:00,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,REGULAR,0,804,RIT-ROOSEVELT 00-05-01 TRAM2
2022-10-07 17:00:00,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,REGULAR,0,804,RIT-ROOSEVELT 00-05-01 TRAM2
2022-10-07 21:00:00,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,REGULAR,0,804,RIT-ROOSEVELT 00-05-01 TRAM2

In [74]:
df['station'].value_counts(ascending=True).index[:25]

Index(['ORCHARD BEACH', 'BROAD CHANNEL', 'CLEVELAND ST', 'SUTTER AV',
       'INTERVALE AV', 'AVENUE X', 'ALABAMA AV', 'CHAUNCEY ST', '190 ST',
       'FOREST AVE', 'CYPRESS HILLS', 'CRESCENT ST', 'WESTCHESTER SQ',
       'NORWOOD AV', '65 ST', 'NEW LOTS', 'ATLANTIC AV', 'BUSHWICK AV',
       'MONTROSE AV', 'BRONX PARK EAST', 'ALLERTON AV', 'BURKE AV', '219 ST',
       'NEREID AV', '55 ST'],
      dtype='object')

In [75]:
orchard_beach = df[df['station'] == 'ORCHARD BEACH']

In [76]:
orchard_beach.shape

(138, 10)

In [77]:
orchard_beach['stat_id'].value_counts().index

Index(['ORCHARD BEACH 00-00-01 OB01', 'ORCHARD BEACH 00-03-00 OB01',
       'ORCHARD BEACH 00-03-01 OB01', 'ORCHARD BEACH 00-00-00 OB01',
       'ORCHARD BEACH 00-00-02 OB01'],
      dtype='object')

In [78]:
turnstyle_1 = orchard_beach[orchard_beach['stat_id'] == 'ORCHARD BEACH 00-00-01 OB01']

In [84]:
turnstyle_1

,c/a,unit,scp,station,linename,division,desc,entries,exits,stat_id
datetime,,,,,,,,,,
2022-09-24 00:00:00,OB01,R459,00-00-01,ORCHARD BEACH,6,IND,REGULAR,72864,5926,ORCHARD BEACH 00-00-01 OB01
2022-09-24 04:00:00,OB01,R459,00-00-01,ORCHARD BEACH,6,IND,REGULAR,72864,5926,ORCHARD BEACH 00-00-01 OB01
2022-09-24 08:00:00,OB01,R459,00-00-01,ORCHARD BEACH,6,IND,REGULAR,72864,5926,ORCHARD BEACH 00-00-01 OB01
2022-09-24 12:00:00,OB01,R459,00-00-01,ORCHARD BEACH,6,IND,REGULAR,72864,5926,ORCHARD BEACH 00-00-01 OB01
2022-09-24 16:00:00,OB01,R459,00-00-01,ORCHARD BEACH,6,IND,REGULAR,72864,5926,ORCHARD BEACH 00-00-01 OB01
2022-09-24 20:00:00,OB01,R459,00-00-01,ORCHARD BEACH,6,IND,REGULAR,72864,5926,ORCHARD BEACH 00-00-01 OB01
2022-09-25 00:00:00,OB01,R459,00-00-01,ORCHARD BEACH,6,IND,REGULAR,72864,5926,ORCHARD BEACH 00-00-01 OB01
2022-09-25 04:00:00,OB01,R459,00-00-01,ORCHARD BEACH,6,IND,REGULAR,72864,5926,ORCHARD BEACH 00-00-01 OB01
2022-09-25 08:00:00,OB01,R459,00-00-01,ORCHARD BEACH,6,IND,REGULAR,72864,5926,ORCHARD BEACH 00-00-01 OB01
2022-09-25 12:00:00,OB01,R459,00-00-01,ORCHARD BEACH,6,IND,REGULAR,72864,5926,ORCHARD BEACH 00-00-01 OB01
2022-09-25 16:00:00,OB01,R459,00-00-01,ORCHARD BEACH,6,IND,REGULAR,72864,5926,ORCHARD BEACH 00-00-01 OB01
2022-09-25 20:00:00,OB01,R459,00-00-01,ORCHARD BEACH,6,IND,REGULAR,72864,5926,ORCHARD BEACH 00-00-01 OB01
2022-09-26 00:00:00,OB01,R459,00-00-01,ORCHARD BEACH,6,IND,REGULAR,72864,5926,ORCHARD BEACH 00-00-01 OB01
2022-09-26 04:00:00,OB01,R459,00-00-01,ORCHARD BEACH,6,IND,REGULAR,72864,5926,ORCHARD BEACH 00-00-01 OB01
2022-09-26 08:00:00,OB01,R459,00-00-01,ORCHARD BEACH,6,IND,REGULAR,72864,5926,ORCHARD BEACH 00-00-01 OB01
2022-09-26 12:00:00,OB01,R459,00-00-01,ORCHARD BEACH,6,IND,REGULAR,72864,5926,ORCHARD BEACH 00-00-01 OB01
2022-09-26 16:00:00,OB01,R459,00-00-01,ORCHARD BEACH,6,IND,REGULAR,72864,5926,ORCHARD BEACH 00-00-01 OB01
2022-09-26 20:00:00,OB01,R459,00-00-01,ORCHARD BEACH,6,IND,REGULAR,72864,5926,ORCHARD BEACH 00-00-01 OB01
2022-09-27 00:00:00,OB01,R459,00-00-01,ORCHARD BEACH,6,IND,REGULAR,72864,5926,ORCHARD BEACH 00-00-01 OB01
2022-09-27 04:00:00,OB01,R459,00-00-01,ORCHARD BEACH,6,IND,REGULAR,72864,5926,ORCHARD BEACH 00-00-01 OB01
2022-09-27 08:00:00,OB01,R459,00-00-01,ORCHARD BEACH,6,IND,REGULAR,72864,5926,ORCHARD BEACH 00-00-01 OB01
2022-09-27 12:00:00,OB01,R459,00-00-01,ORCHARD BEACH,6,IND,REGULAR,72864,5926,ORCHARD BEACH 00-00-01 OB01
2022-09-27 16:00:00,OB01,R459,00-00-01,ORCHARD BEACH,6,IND,REGULAR,72864,5926,ORCHARD BEACH 00-00-01 OB01
2022-09-27 20:00:00,OB01,R459,00-00-01,ORCHARD BEACH,6,IND,REGULAR,72864,5926,ORCHARD BEACH 00-00-01 OB01
2022-09-28 00:00:00,OB01,R459,00-00-01,ORCHARD BEACH,6,IND,REGULAR,72864,5926,ORCHARD BEACH 00-00-01 OB01
2022-09-28 04:00:00,OB01,R459,00-00-01,ORCHARD BEACH,6,IND,REGULAR,72864,5926,ORCHARD BEACH 00-00-01 OB01
2022-09-28 08:00:00,OB01,R459,00-00-01,ORCHARD BEACH,6,IND,REGULAR,72864,5926,ORCHARD BEACH 00-00-01 OB01
2022-09-28 12:00:00,OB01,R459,00-00-01,ORCHARD BEACH,6,IND,REGULAR,72864,5926,ORCHARD BEACH 00-00-01 OB01

In [87]:
turnstyle_1.iloc[0]['exits']

5926

In [85]:
turnstyle_1.iloc[-1]

c/a                                OB01
unit                               R459
scp                            00-00-01
station                   ORCHARD BEACH
linename                              6
division                            IND
desc                            REGULAR
entries                           72864
exits                              5926
stat_id     ORCHARD BEACH 00-00-01 OB01
Name: 2022-09-28 12:00:00, dtype: object

In [95]:
def total_entries_exits(df):
    turnstiles = df['stat_id'].value_counts().index
    entries_exits = []
    
    for turnstile in turnstiles:
        t_df = df[df['stat_id'] == turnstile]
        exits = t_df.iloc[-1]['exits'] - t_df.iloc[0]['exits']
        entries = t_df.iloc[-1]['entries'] - t_df.iloc[0]['entries']
        entries_exits.append([turnstile, entries, exits])
        
    return entries_exits

In [104]:
orchard_ee = pd.DataFrame(total_entries_exits(orchard_beach), columns = ['stat_id', 'total_entries', 'total_exits'])
broad_ee = pd.DataFrame(total_entries_exits(df[df['station'] == 'BROAD CHANNEL']), columns = ['stat_id', 'total_entries', 'total_exits'])
ee = pd.concat([orchard_ee, broad_ee])
ee

                       stat_id  total_entries  total_exits
0  ORCHARD BEACH 00-00-01 OB01              0            0
1  ORCHARD BEACH 00-03-00 OB01              0            0
2  ORCHARD BEACH 00-03-01 OB01              0            0
3  ORCHARD BEACH 00-00-00 OB01              0            0
4  ORCHARD BEACH 00-00-02 OB01              0            0
0  BROAD CHANNEL 00-00-01 N183            978          172
1  BROAD CHANNEL 00-00-02 N183            228           51
2  BROAD CHANNEL 00-00-00 N183            107          117

In [105]:
def total_entries_exits_per_station(df):
    stations = df['station'].value_counts(ascending=True).index
    total_df = pd.DataFrame(columns =['stat_id', 'total_entries', 'total_exits', 'station'])
    
    for station in stations:
        entries_exits = total_entries_exits(df[df['station'] == station])
        new_df = pd.DataFrame(entries_exits, columns = ['stat_id', 'total_entries', 'total_exits'])
        new_df['station'] = station
        total_df = pd.concat([total_df, new_df])
        
    return total_df

In [106]:
entries_exits_df = total_entries_exits_per_station(df)

In [107]:
entries_exits_df.head()

                       stat_id total_entries total_exits        station
0  ORCHARD BEACH 00-00-01 OB01             0           0  ORCHARD BEACH
1  ORCHARD BEACH 00-03-00 OB01             0           0  ORCHARD BEACH
2  ORCHARD BEACH 00-03-01 OB01             0           0  ORCHARD BEACH
3  ORCHARD BEACH 00-00-00 OB01             0           0  ORCHARD BEACH
4  ORCHARD BEACH 00-00-02 OB01             0           0  ORCHARD BEACH

In [108]:
entries_exits_df.shape

(5041, 4)

In [116]:
entries_exits_df.sort_values('total_entries').head(100)

                           stat_id total_entries  total_exits          station
42            125 ST 00-06-00 R258   -1863340006  -1410533131           125 ST
64             86 ST 01-06-01 C026    -261356395   -261356104            86 ST
27   LEXINGTON AV/53 00-03-00 N306     -18313811    -11671431  LEXINGTON AV/53
9     14 ST-UNION SQ 01-03-01 R221     -12445201    -18181817   14 ST-UNION SQ
8     14 ST-UNION SQ 01-03-02 R221      -7601723    -12920050   14 ST-UNION SQ
36           WALL ST 00-00-02 R111      -7211629    -10831399          WALL ST
10            167 ST 00-00-03 R283      -2159998     -1214218           167 ST
14    TIMES SQ-42 ST 01-00-03 R148      -1296906      -326171   TIMES SQ-42 ST
22        ST. GEORGE 00-00-02 S101      -1256507         -141       ST. GEORGE
21    66 ST-LINCOLN 00-00-00 R160A       -864668     -1256945    66 ST-LINCOLN
1              79 ST 00-00-01 R162       -501446      -203237            79 ST
26     PATH NEW WTC 00-00-02 PTH22       -479081      -401688     PATH NEW WTC
8      ROCKAWAY BLVD 01-03-01 N135       -449372       251892    ROCKAWAY BLVD
22       LACKAWANNA 01-01-05 PTH16       -137985       -25161       LACKAWANNA
16     NEWARK BM BW 01-00-06 PTH18       -130048        20183     NEWARK BM BW
1   NEWARK HW BMEBE 00-00-00 PTH01       -108608        -9819  NEWARK HW BMEBE
0   THIRTY THIRD ST 01-00-04 PTH17       -103516       -72850  THIRTY THIRD ST
19    14 ST-UNION SQ 01-03-00 R221        -28046       -64182   14 ST-UNION SQ
0      NEWARK BM BW 01-00-00 PTH18        -23906       -24296     NEWARK BM BW
26  42 ST-PORT AUTH 00-00-08 N063A        -22593         3580  42 ST-PORT AUTH
7      PATH NEW WTC 00-03-05 PTH22        -21259       -37848     PATH NEW WTC
7     90 ST-ELMHURST 00-05-00 R527        -19433        -7704   90 ST-ELMHURST
11   34 ST-HERALD SQ 00-05-03 N506        -17595        18279  34 ST-HERALD SQ
22  42 ST-PORT AUTH 00-00-04 N063A        -17272         8242  42 ST-PORT AUTH
28          CANAL ST 00-00-00 A066        -16496        20161         CANAL ST
31   GRD CNTRL-42 ST 00-00-00 R240        -16126      -171615  GRD CNTRL-42 ST
0      GRAND-NEWTOWN 00-06-01 N327        -12802        -3499    GRAND-NEWTOWN
75        FULTON ST 01-00-02 N095A        -12793         3661        FULTON ST
17             14 ST 00-00-00 R127        -12784       -13839            14 ST
2        182-183 STS 00-00-02 N215        -12495         6183      182-183 STS
3             167 ST 00-00-00 N207        -12300        14093           167 ST
23  42 ST-PORT AUTH 00-00-05 N063A        -12262        13022  42 ST-PORT AUTH
1     HUNTS POINT AV 00-00-01 R412        -12238        11402   HUNTS POINT AV
2               6 AV 01-00-02 H003        -12222        -3450             6 AV
6       ELMHURST AV 00-05-00 N325A        -11287        -4759      ELMHURST AV
3              50 ST 01-00-03 N056        -11284       -31420            50 ST
0            190 ST 00-00-00 N006A        -10668       -10438           190 ST
8    LEXINGTON AV/53 01-03-04 N305        -10549        11176  LEXINGTON AV/53
9     TIMES SQ-42 ST 01-00-01 R148        -10262        11751   TIMES SQ-42 ST
13            125 ST 00-00-00 R304        -10180         7537           125 ST
1      NEWKIRK PLAZA 00-00-01 B019        -10179       -20432    NEWKIRK PLAZA
3             135 ST 00-00-00 R306         -9980         7037           135 ST
4     61 ST WOODSIDE 00-00-04 R523         -9813       -29148   61 ST WOODSIDE
9    161/YANKEE STAD 00-00-01 N203         -9716        -9530  161/YANKEE STAD
2          DEKALB AV 00-06-00 H023         -9018         5484        DEKALB AV
8    LEXINGTON AV/63 00-00-01 N601         -8883       -30686  LEXINGTON AV/63
9             72 ST 00-00-03 R161B         -8809        15575            72 ST
6        LACKAWANNA 01-01-08 PTH16         -8450        -4406       LACKAWANNA
61             23 ST 00-00-02 N508         -8140         8658            23 ST
1           BAY PKWY 01-06-01 D011         -7810         4815         BAY PKWY
12             14 ST 01-00-03 N078         -7808       -21725            14 ST
5             174 ST 00-00-02 R322         -6645        -8371           174 ST
4     WOODHAVEN BLVD 00-03-03 N329         -6361        12052   WOODHAVEN BLVD
4          DEKALB AV 00-00-01 H023         -5960         5147        DEKALB AV
7         57 ST-7 AV 01-03-00 A011         -5840       -23451       57 ST-7 AV
5             181 ST 01-00-02 N009         -5658         6596           181 ST
1        PATH WTC 2 01-00-01 PTH21         -5319        -6063       PATH WTC 2
8       LAFAYETTE AV 00-06-00 N110         -5209         1101     LAFAYETTE AV
23             86 ST 01-00-05 R249         -4590        10398            86 ST
11    JAMAICA CENTER 00-00-01 N606         -4577        30792   JAMAICA CENTER
10   METROPOLITAN AV 00-00-01 K026         -4549        -5882  METROPOLITAN AV
0           HEWES ST 00-00-00 J003         -3912         2524         HEWES ST
91   GRD CNTRL-42 ST 01-00-06 R237         -3551         2025  GRD CNTRL-42 ST
19    JAMAICA 179 ST 01-03-02 N342         -3234         3907   JAMAICA 179 ST
10         DEKALB AV 00-00-00 C008         -3216        20427        DEKALB AV
4    EASTCHSTER/DYRE 00-00-04 R730         -2328         1849  EASTCHSTER/DYRE
17         NEWARK C 02-01-06 PTH19         -2236         -620         NEWARK C
8           BAY PKWY 01-06-00 D011         -1658         -598         BAY PKWY
8             104 ST 00-06-01 N137         -1629          466           104 ST
21         COURT SQ 02-00-03 N400A         -1385        -2355         COURT SQ
22       CITY / BUS 00-02-02 PTH07          -601        -4365       CITY / BUS
17          AVENUE U 00-06-01 N559          -166         1234         AVENUE U
4   B'WAY-LAFAYETTE 01-05-02 N519A           -93            0  B'WAY-LAFAYETTE
17     GROVE STREET 00-04-06 PTH04           -28          -78     GROVE STREET
15  NEWARK HW BMEBE 00-01-04 PTH01            -3        -1255  NEWARK HW BMEBE
14       3 AV-149 ST 00-05-01 R311             0           10      3 AV-149 ST
12    WOODHAVEN BLVD 01-05-01 J032             0           14   WOODHAVEN BLVD
2         HOUSTON ST 01-05-01 R121             0            0       HOUSTON ST
6    WORLD TRADE CTR 01-05-01 N094             0           18  WORLD TRADE CTR
18   WORLD TRADE CTR 01-60-04 N094             0            0  WORLD TRADE CTR
13       GUN HILL RD 00-05-01 R728             0           30      GUN HILL RD
5        96 ST-2 AVE 00-05-01 N702             0           26      96 ST-2 AVE
13            175 ST 01-05-01 N011             0           30           175 ST
11            175 ST 00-05-01 N010             0           38           175 ST
14        FORDHAM RD 00-05-01 R289             0           37       FORDHAM RD
7         FORDHAM RD 01-05-01 N218             0           17       FORDHAM RD
6         FORDHAM RD 01-05-00 N218             0            0       FORDHAM RD
14       FLUSHING AV 00-05-01 J007             0            0      FLUSHING AV
13    HOWARD BCH JFK 00-05-01 N182             0           12   HOWARD BCH JFK
5        86 ST-2 AVE 00-05-01 N701             0           49      86 ST-2 AVE
5          SPRING ST 01-05-01 N087             0            0        SPRING ST
9           BAY PKWY 01-05-01 D011             0           12         BAY PKWY
10   CANARSIE-ROCKAW 00-05-01 H041             0           22  CANARSIE-ROCKAW
5           E 180 ST 00-05-01 R325             0           30         E 180 ST
12   CANARSIE-ROCKAW 00-05-03 H041             0           28  CANARSIE-ROCKAW
9   63 DR-REGO PARK 01-04-00 N330C             0            0  63 DR-REGO PARK
8        3 AV-149 ST 01-05-01 R310             0           59      3 AV-149 ST
13       3 AV-149 ST 00-05-00 R311             0            0      3 AV-149 ST
10  63 DR-REGO PARK 01-04-01 N330C             0            0  63 DR-REGO PARK
15  THIRTY THIRD ST 01-00-03 PTH17             0         9984  THIRTY THIRD ST

In [119]:
tt_st = df[df['station'] == 'THIRTY THIRD ST']

In [121]:
tt_st_ee = total_entries_exits(tt_st)
tt_st_ee

[['THIRTY THIRD ST 01-00-04 PTH17', -103516, -72850],
 ['THIRTY THIRD ST 01-00-00 PTH17', 0, 0],
 ['THIRTY THIRD ST 01-00-0A PTH17', 3353, 3803],
 ['THIRTY THIRD ST 01-01-05 PTH17', 15991, 2390],
 ['THIRTY THIRD ST 01-01-04 PTH17', 2720, 4542],
 ['THIRTY THIRD ST 01-01-03 PTH17', 3872, 4811],
 ['THIRTY THIRD ST 01-01-02 PTH17', 9300, 4962],
 ['THIRTY THIRD ST 01-01-01 PTH17', 17359, 5018],
 ['THIRTY THIRD ST 01-01-00 PTH17', 13104, 5769],
 ['THIRTY THIRD ST 01-00-09 PTH17', 13936, 9026],
 ['THIRTY THIRD ST 01-00-01 PTH17', 0, 0],
 ['THIRTY THIRD ST 01-00-08 PTH17', 10339, 12467],
 ['THIRTY THIRD ST 01-00-07 PTH17', 10690, 11874],
 ['THIRTY THIRD ST 01-00-06 PTH17', 13038, 12727],
 ['THIRTY THIRD ST 01-00-05 PTH17', 7711, 9082],
 ['THIRTY THIRD ST 01-00-03 PTH17', 0, 9984],
 ['THIRTY THIRD ST 01-00-02 PTH17', 0, 14634],
 ['THIRTY THIRD ST 01-01-06 PTH17', 16075, 3053]]

In [122]:
tt_st[tt_st['stat_id'] == 'THIRTY THIRD ST 01-00-04 PTH17']

,c/a,unit,scp,station,linename,division,desc,entries,exits,stat_id
datetime,,,,,,,,,,
2022-09-24 00:21:02,PTH17,R541,01-00-04,THIRTY THIRD ST,1,PTH,REGULAR,104317,73298,THIRTY THIRD ST 01-00-04 PTH17
2022-09-24 04:33:02,PTH17,R541,01-00-04,THIRTY THIRD ST,1,PTH,REGULAR,104334,73304,THIRTY THIRD ST 01-00-04 PTH17
2022-09-24 08:45:02,PTH17,R541,01-00-04,THIRTY THIRD ST,1,PTH,REGULAR,104353,73323,THIRTY THIRD ST 01-00-04 PTH17
2022-09-24 12:57:02,PTH17,R541,01-00-04,THIRTY THIRD ST,1,PTH,REGULAR,104370,73338,THIRTY THIRD ST 01-00-04 PTH17
2022-09-24 17:09:02,PTH17,R541,01-00-04,THIRTY THIRD ST,1,PTH,REGULAR,104421,73542,THIRTY THIRD ST 01-00-04 PTH17
2022-09-24 21:21:02,PTH17,R541,01-00-04,THIRTY THIRD ST,1,PTH,REGULAR,104533,73650,THIRTY THIRD ST 01-00-04 PTH17
2022-09-25 01:33:02,PTH17,R541,01-00-04,THIRTY THIRD ST,1,PTH,REGULAR,104600,73650,THIRTY THIRD ST 01-00-04 PTH17
2022-09-25 05:45:02,PTH17,R541,01-00-04,THIRTY THIRD ST,1,PTH,REGULAR,104613,73650,THIRTY THIRD ST 01-00-04 PTH17
2022-09-25 09:57:02,PTH17,R541,01-00-04,THIRTY THIRD ST,1,PTH,REGULAR,104629,73650,THIRTY THIRD ST 01-00-04 PTH17
2022-09-25 14:09:02,PTH17,R541,01-00-04,THIRTY THIRD ST,1,PTH,REGULAR,104678,73650,THIRTY THIRD ST 01-00-04 PTH17
2022-09-25 18:21:02,PTH17,R541,01-00-04,THIRTY THIRD ST,1,PTH,REGULAR,104771,73650,THIRTY THIRD ST 01-00-04 PTH17
2022-09-25 22:33:02,PTH17,R541,01-00-04,THIRTY THIRD ST,1,PTH,REGULAR,104811,73650,THIRTY THIRD ST 01-00-04 PTH17
2022-09-26 02:45:02,PTH17,R541,01-00-04,THIRTY THIRD ST,1,PTH,REGULAR,104831,73650,THIRTY THIRD ST 01-00-04 PTH17
2022-09-26 06:57:02,PTH17,R541,01-00-04,THIRTY THIRD ST,1,PTH,REGULAR,104837,73650,THIRTY THIRD ST 01-00-04 PTH17
2022-09-26 11:09:02,PTH17,R541,01-00-04,THIRTY THIRD ST,1,PTH,REGULAR,104867,73650,THIRTY THIRD ST 01-00-04 PTH17
2022-09-26 15:17:33,PTH17,R541,01-00-04,THIRTY THIRD ST,1,PTH,REGULAR,104920,73650,THIRTY THIRD ST 01-00-04 PTH17
2022-09-26 19:29:33,PTH17,R541,01-00-04,THIRTY THIRD ST,1,PTH,REGULAR,105023,73650,THIRTY THIRD ST 01-00-04 PTH17
2022-09-26 23:41:33,PTH17,R541,01-00-04,THIRTY THIRD ST,1,PTH,REGULAR,105048,73650,THIRTY THIRD ST 01-00-04 PTH17
2022-09-27 03:53:33,PTH17,R541,01-00-04,THIRTY THIRD ST,1,PTH,REGULAR,105069,73650,THIRTY THIRD ST 01-00-04 PTH17
2022-09-27 08:05:33,PTH17,R541,01-00-04,THIRTY THIRD ST,1,PTH,REGULAR,105078,73650,THIRTY THIRD ST 01-00-04 PTH17
2022-09-27 12:17:33,PTH17,R541,01-00-04,THIRTY THIRD ST,1,PTH,REGULAR,105108,73650,THIRTY THIRD ST 01-00-04 PTH17
2022-09-27 16:29:33,PTH17,R541,01-00-04,THIRTY THIRD ST,1,PTH,REGULAR,105150,73650,THIRTY THIRD ST 01-00-04 PTH17
2022-09-27 20:41:33,PTH17,R541,01-00-04,THIRTY THIRD ST,1,PTH,REGULAR,105269,73650,THIRTY THIRD ST 01-00-04 PTH17
2022-09-28 00:53:33,PTH17,R541,01-00-04,THIRTY THIRD ST,1,PTH,REGULAR,105312,73650,THIRTY THIRD ST 01-00-04 PTH17
2022-09-28 05:05:33,PTH17,R541,01-00-04,THIRTY THIRD ST,1,PTH,REGULAR,105319,73650,THIRTY THIRD ST 01-00-04 PTH17
2022-09-28 09:17:33,PTH17,R541,01-00-04,THIRTY THIRD ST,1,PTH,REGULAR,105334,73650,THIRTY THIRD ST 01-00-04 PTH17
2022-09-28 13:29:33,PTH17,R541,01-00-04,THIRTY THIRD ST,1,PTH,REGULAR,105375,73650,THIRTY THIRD ST 01-00-04 PTH17
2022-09-28 17:41:33,PTH17,R541,01-00-04,THIRTY THIRD ST,1,PTH,REGULAR,105473,73650,THIRTY THIRD ST 01-00-04 PTH17
2022-09-28 21:53:33,PTH17,R541,01-00-04,THIRTY THIRD ST,1,PTH,REGULAR,105514,73650,THIRTY THIRD ST 01-00-04 PTH17
2022-09-29 02:05:33,PTH17,R541,01-00-04,THIRTY THIRD ST,1,PTH,REGULAR,105515,73650,THIRTY THIRD ST 01-00-04 PTH17
2022-09-29 06:17:33,PTH17,R541,01-00-04,THIRTY THIRD ST,1,PTH,REGULAR,105522,73650,THIRTY THIRD ST 01-00-04 PTH17
2022-09-29 10:29:33,PTH17,R541,01-00-04,THIRTY THIRD ST,1,PTH,REGULAR,105543,73650,THIRTY THIRD ST 01-00-04 PTH17
2022-09-29 14:33:31,PTH17,R541,01-00-04,THIRTY THIRD ST,1,PTH,REGULAR,105560,73650,THIRTY THIRD ST 01-00-04 PTH17
2022-09-29 18:34:34,PTH17,R541,01-00-04,THIRTY THIRD ST,1,PTH,REGULAR,105640,73691,THIRTY THIRD ST 01-00-04 PTH17
2022-09-29 22:46:34,PTH17,R541,01-00-04,THIRTY THIRD ST,1,PTH,REGULAR,105713,73720,THIRTY THIRD ST 01-00-04 PTH17
2022-09-30 02:58:34,PTH17,R541,01-00-04,THIRTY THIRD ST,1,PTH,REGULAR,105746,73723,THIRTY THIRD ST 01-00-04 PTH17
2022-09-30 07:10:34,PTH17,R541,01-00-04,THIRTY THIRD ST,1,PTH,REGULAR,105757,73736,THIRTY THIRD ST 01-00-04 PTH17
2022-09-30 11:22:34,PTH17,R541,01-00-04,THIRTY THIRD ST,1,PTH,REGULAR,105791,73805,THIRTY THIRD ST 01-00-04 PTH17
2022-09-30 15:34:34,PTH17,R541,01-00-04,THIRTY THIRD ST,1,PTH,REGULAR,105843,73850,THIRTY THIRD ST 01-00-04 PTH17
2022-09-30 19:46:34,PTH17,R541,01-00-04,THIRTY THIRD ST,1,PTH,REGULAR,105961,73952,THIRTY THIRD ST 01-00-04 PTH17
2022-09-30 23:58:34,PTH17,R541,01-00-04,THIRTY THIRD ST,1,PTH,REGULAR,106042,73980,THIRTY THIRD ST 01-00-04 PTH17
2022-10-01 04:10:34,PTH17,R541,01-00-04,THIRTY THIRD ST,1,PTH,REGULAR,106068,73984,THIRTY THIRD ST 01-00-04 PTH17
2022-10-01 08:22:34,PTH17,R541,01-00-04,THIRTY THIRD ST,1,PTH,REGULAR,106087,73990,THIRTY THIRD ST 01-00-04 PTH17
2022-10-01 12:34:34,PTH17,R541,01-00-04,THIRTY THIRD ST,1,PTH,REGULAR,106122,74026,THIRTY THIRD ST 01-00-04 PTH17
2022-10-01 16:46:34,PTH17,R541,01-00-04,THIRTY THIRD ST,1,PTH,REGULAR,106170,74043,THIRTY THIRD ST 01-00-04 PTH17
2022-10-01 20:58:34,PTH17,R541,01-00-04,THIRTY THIRD ST,1,PTH,REGULAR,106251,74053,THIRTY THIRD ST 01-00-04 PTH17
2022-10-02 01:10:34,PTH17,R541,01-00-04,THIRTY THIRD ST,1,PTH,REGULAR,106286,74059,THIRTY THIRD ST 01-00-04 PTH17
2022-10-02 05:22:34,PTH17,R541,01-00-04,THIRTY THIRD ST,1,PTH,REGULAR,106300,74061,THIRTY THIRD ST 01-00-04 PTH17
2022-10-02 09:34:34,PTH17,R541,01-00-04,THIRTY THIRD ST,1,PTH,REGULAR,106313,74083,THIRTY THIRD ST 01-00-04 PTH17
2022-10-02 13:46:34,PTH17,R541,01-00-04,THIRTY THIRD ST,1,PTH,REGULAR,106346,74097,THIRTY THIRD ST 01-00-04 PTH17
2022-10-02 17:58:34,PTH17,R541,01-00-04,THIRTY THIRD ST,1,PTH,REGULAR,106420,74107,THIRTY THIRD ST 01-00-04 PTH17
2022-10-02 22:10:34,PTH17,R541,01-00-04,THIRTY THIRD ST,1,PTH,REGULAR,106486,74118,THIRTY THIRD ST 01-00-04 PTH17
2022-10-03 02:22:34,PTH17,R541,01-00-04,THIRTY THIRD ST,1,PTH,REGULAR,106509,74118,THIRTY THIRD ST 01-00-04 PTH17
2022-10-03 06:34:34,PTH17,R541,01-00-04,THIRTY THIRD ST,1,PTH,REGULAR,106520,74123,THIRTY THIRD ST 01-00-04 PTH17
2022-10-03 10:38:16,PTH17,R541,01-00-04,THIRTY THIRD ST,1,PTH,REGULAR,106530,74206,THIRTY THIRD ST 01-00-04 PTH17
2022-10-03 14:50:16,PTH17,R541,01-00-04,THIRTY THIRD ST,1,PTH,REGULAR,106575,74248,THIRTY THIRD ST 01-00-04 PTH17
2022-10-03 19:02:16,PTH17,R541,01-00-04,THIRTY THIRD ST,1,PTH,REGULAR,106714,74272,THIRTY THIRD ST 01-00-04 PTH17
2022-10-03 23:14:16,PTH17,R541,01-00-04,THIRTY THIRD ST,1,PTH,REGULAR,106758,74286,THIRTY THIRD ST 01-00-04 PTH17
2022-10-04 03:26:16,PTH17,R541,01-00-04,THIRTY THIRD ST,1,PTH,REGULAR,106774,74289,THIRTY THIRD ST 01-00-04 PTH17
2022-10-04 07:38:16,PTH17,R541,01-00-04,THIRTY THIRD ST,1,PTH,REGULAR,106777,74303,THIRTY THIRD ST 01-00-04 PTH17
2022-10-04 11:50:16,PTH17,R541,01-00-04,THIRTY THIRD ST,1,PTH,REGULAR,106794,74361,THIRTY THIRD ST 01-00-04 PTH17
2022-10-04 16:02:16,PTH17,R541,01-00-04,THIRTY THIRD ST,1,PTH,REGULAR,106843,74394,THIRTY THIRD ST 01-00-04 PTH17
2022-10-04 20:14:16,PTH17,R541,01-00-04,THIRTY THIRD ST,1,PTH,REGULAR,106932,74427,THIRTY THIRD ST 01-00-04 PTH17
2022-10-05 00:26:16,PTH17,R541,01-00-04,THIRTY THIRD ST,1,PTH,REGULAR,106951,74431,THIRTY THIRD ST 01-00-04 PTH17
2022-10-05 04:38:16,PTH17,R541,01-00-04,THIRTY THIRD ST,1,PTH,REGULAR,106957,74435,THIRTY THIRD ST 01-00-04 PTH17
2022-10-05 08:50:16,PTH17,R541,01-00-04,THIRTY THIRD ST,1,PTH,REGULAR,106962,74465,THIRTY THIRD ST 01-00-04 PTH17
2022-10-05 13:02:16,PTH17,R541,01-00-04,THIRTY THIRD ST,1,PTH,REGULAR,106971,74511,THIRTY THIRD ST 01-00-04 PTH17
2022-10-05 17:02:59,PTH17,R541,01-00-04,THIRTY THIRD ST,1,PTH,REGULAR,49,13,THIRTY THIRD ST 01-00-04 PTH17
2022-10-05 21:14:59,PTH17,R541,01-00-04,THIRTY THIRD ST,1,PTH,REGULAR,139,48,THIRTY THIRD ST 01-00-04 PTH17
2022-10-06 01:26:59,PTH17,R541,01-00-04,THIRTY THIRD ST,1,PTH,REGULAR,176,56,THIRTY THIRD ST 01-00-04 PTH17
2022-10-06 05:38:59,PTH17,R541,01-00-04,THIRTY THIRD ST,1,PTH,REGULAR,187,61,THIRTY THIRD ST 01-00-04 PTH17
2022-10-06 09:50:59,PTH17,R541,01-00-04,THIRTY THIRD ST,1,PTH,REGULAR,199,122,THIRTY THIRD ST 01-00-04 PTH17
2022-10-06 14:02:59,PTH17,R541,01-00-04,THIRTY THIRD ST,1,PTH,REGULAR,233,170,THIRTY THIRD ST 01-00-04 PTH17
2022-10-06 18:14:59,PTH17,R541,01-00-04,THIRTY THIRD ST,1,PTH,REGULAR,361,216,THIRTY THIRD ST 01-00-04 PTH17
2022-10-06 22:26:59,PTH17,R541,01-00-04,THIRTY THIRD ST,1,PTH,REGULAR,485,236,THIRTY THIRD ST 01-00-04 PTH17
2022-10-07 02:38:59,PTH17,R541,01-00-04,THIRTY THIRD ST,1,PTH,REGULAR,515,244,THIRTY THIRD ST 01-00-04 PTH17
2022-10-07 06:50:59,PTH17,R541,01-00-04,THIRTY THIRD ST,1,PTH,REGULAR,521,251,THIRTY THIRD ST 01-00-04 PTH17
2022-10-07 11:02:59,PTH17,R541,01-00-04,THIRTY THIRD ST,1,PTH,REGULAR,534,303,THIRTY THIRD ST 01-00-04 PTH17
2022-10-07 15:14:59,PTH17,R541,01-00-04,THIRTY THIRD ST,1,PTH,REGULAR,579,373,THIRTY THIRD ST 01-00-04 PTH17
2022-10-07 19:26:59,PTH17,R541,01-00-04,THIRTY THIRD ST,1,PTH,REGULAR,712,420,THIRTY THIRD ST 01-00-04 PTH17
2022-10-07 23:38:59,PTH17,R541,01-00-04,THIRTY THIRD ST,1,PTH,REGULAR,801,448,THIRTY THIRD ST 01-00-04 PTH17

In [123]:
uq_st = df[df['station'] == '14 ST-UNION SQ']

In [124]:
uq_st_ee = total_entries_exits(uq_st)
uq_st_ee

[['14 ST-UNION SQ 00-00-02 A035', 5598, 24316],
 ['14 ST-UNION SQ 00-00-03 A035', 9975, 17877],
 ['14 ST-UNION SQ 00-00-00 A035', 1394, 5032],
 ['14 ST-UNION SQ 00-00-01 A035', 3196, 17785],
 ['14 ST-UNION SQ 01-06-01 R221', 5879, 26924],
 ['14 ST-UNION SQ 01-06-00 R221', 3193, 47361],
 ['14 ST-UNION SQ 01-05-01 R221', 0, 116],
 ['14 ST-UNION SQ 01-05-00 R221', 1525, 0],
 ['14 ST-UNION SQ 01-03-02 R221', -7601723, -12920050],
 ['14 ST-UNION SQ 01-03-01 R221', -12445201, -18181817],
 ['14 ST-UNION SQ 01-06-02 R221', 9763, 20165],
 ['14 ST-UNION SQ 01-00-02 R221', 16908, 22531],
 ['14 ST-UNION SQ 01-00-01 R221', 17685, 18975],
 ['14 ST-UNION SQ 01-00-00 R221', 22937, 35027],
 ['14 ST-UNION SQ 05-00-03 A037', 15568, 4862],
 ['14 ST-UNION SQ 05-00-02 A037', 15320, 12047],
 ['14 ST-UNION SQ 05-00-01 A037', 14138, 19833],
 ['14 ST-UNION SQ 05-00-00 A037', 17121, 25555],
 ['14 ST-UNION SQ 01-06-04 R221', 1508, 1749],
 ['14 ST-UNION SQ 01-03-00 R221', -28046, -64182],
 ['14 ST-UNION SQ 02-00-00 A033', 3640, 20290],
 ['14 ST-UNION SQ 02-00-01 A033', 6432, 16059],
 ['14 ST-UNION SQ 03-00-02 A034', 12557, 18963],
 ['14 ST-UNION SQ 02-00-02 A033', 8199, 17112],
 ['14 ST-UNION SQ 02-00-03 A033', 13013, 31469],
 ['14 ST-UNION SQ 02-00-04 A033', 17861, 32840],
 ['14 ST-UNION SQ 02-00-05 A033', 27232, 26743],
 ['14 ST-UNION SQ 02-06-00 A033', 315, 5538],
 ['14 ST-UNION SQ 02-06-01 A033', 6644, 15208],
 ['14 ST-UNION SQ 03-00-00 A034', 4187, 51815],
 ['14 ST-UNION SQ 03-00-01 A034', 6185, 26613],
 ['14 ST-UNION SQ 03-03-00 A034', 7930, 44402],
 ['14 ST-UNION SQ 03-03-01 A034', 12838, 17674],
 ['14 ST-UNION SQ 03-03-02 A034', 23740, 7030],
 ['14 ST-UNION SQ 03-05-00 A034', 6203, 8247],
 ['14 ST-UNION SQ 03-05-01 A034', 5416, 12336],
 ['14 ST-UNION SQ 03-05-02 A034', 6235, 17327],
 ['14 ST-UNION SQ 03-05-03 A034', 6321, 12109],
 ['14 ST-UNION SQ 01-06-05 R221', 4049, 3320],
 ['14 ST-UNION SQ 00-00-04 A035', 15793, 9059],
 ['14 ST-UNION SQ 01-06-03 R221', 6548, 6820]]

In [125]:
uq_st[uq_st['stat_id'] == '14 ST-UNION SQ 01-03-00 R221']

,c/a,unit,scp,station,linename,division,desc,entries,exits,stat_id
datetime,,,,,,,,,,
2022-09-24 01:00:00,R221,R170,01-03-00,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,34429,77965,14 ST-UNION SQ 01-03-00 R221
2022-09-24 05:00:00,R221,R170,01-03-00,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,34455,78010,14 ST-UNION SQ 01-03-00 R221
2022-09-24 09:00:00,R221,R170,01-03-00,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,34513,78144,14 ST-UNION SQ 01-03-00 R221
2022-09-24 13:00:00,R221,R170,01-03-00,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,34632,78600,14 ST-UNION SQ 01-03-00 R221
2022-09-24 17:00:00,R221,R170,01-03-00,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,34829,79248,14 ST-UNION SQ 01-03-00 R221
2022-09-24 21:00:00,R221,R170,01-03-00,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,35020,79844,14 ST-UNION SQ 01-03-00 R221
2022-09-25 01:00:00,R221,R170,01-03-00,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,35144,80142,14 ST-UNION SQ 01-03-00 R221
2022-09-25 05:00:00,R221,R170,01-03-00,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,35168,80196,14 ST-UNION SQ 01-03-00 R221
2022-09-25 09:00:00,R221,R170,01-03-00,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,35202,80298,14 ST-UNION SQ 01-03-00 R221
2022-09-25 13:00:00,R221,R170,01-03-00,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,35301,80635,14 ST-UNION SQ 01-03-00 R221
2022-09-25 17:00:00,R221,R170,01-03-00,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,35429,81102,14 ST-UNION SQ 01-03-00 R221
2022-09-25 21:00:00,R221,R170,01-03-00,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,35567,81472,14 ST-UNION SQ 01-03-00 R221
2022-09-26 01:00:00,R221,R170,01-03-00,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,35658,81627,14 ST-UNION SQ 01-03-00 R221
2022-09-26 05:00:00,R221,R170,01-03-00,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,35667,81638,14 ST-UNION SQ 01-03-00 R221
2022-09-26 09:00:00,R221,R170,01-03-00,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,35767,82010,14 ST-UNION SQ 01-03-00 R221
2022-09-26 13:00:00,R221,R170,01-03-00,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,35940,82499,14 ST-UNION SQ 01-03-00 R221
2022-09-26 17:00:00,R221,R170,01-03-00,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,36253,83050,14 ST-UNION SQ 01-03-00 R221
2022-09-26 21:00:00,R221,R170,01-03-00,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,36489,83600,14 ST-UNION SQ 01-03-00 R221
2022-09-27 01:00:00,R221,R170,01-03-00,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,36571,83708,14 ST-UNION SQ 01-03-00 R221
2022-09-27 05:00:00,R221,R170,01-03-00,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,36582,83722,14 ST-UNION SQ 01-03-00 R221
2022-09-27 09:00:00,R221,R170,01-03-00,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,36703,84206,14 ST-UNION SQ 01-03-00 R221
2022-09-27 13:00:00,R221,R170,01-03-00,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,36853,84692,14 ST-UNION SQ 01-03-00 R221
2022-09-27 17:00:00,R221,R170,01-03-00,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,37213,85215,14 ST-UNION SQ 01-03-00 R221
2022-09-27 21:00:00,R221,R170,01-03-00,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,37525,85824,14 ST-UNION SQ 01-03-00 R221
2022-09-28 01:00:00,R221,R170,01-03-00,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,37646,85951,14 ST-UNION SQ 01-03-00 R221
2022-09-28 05:00:00,R221,R170,01-03-00,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,37658,85972,14 ST-UNION SQ 01-03-00 R221
2022-09-28 09:00:00,R221,R170,01-03-00,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,37807,86663,14 ST-UNION SQ 01-03-00 R221
2022-09-28 13:00:00,R221,R170,01-03-00,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,37991,87169,14 ST-UNION SQ 01-03-00 R221
2022-09-28 17:00:00,R221,R170,01-03-00,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,38490,87743,14 ST-UNION SQ 01-03-00 R221
2022-09-28 21:00:00,R221,R170,01-03-00,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,38776,88514,14 ST-UNION SQ 01-03-00 R221
2022-09-29 01:00:00,R221,R170,01-03-00,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,38907,88665,14 ST-UNION SQ 01-03-00 R221
2022-09-29 05:00:00,R221,R170,01-03-00,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,38913,88678,14 ST-UNION SQ 01-03-00 R221
2022-09-29 09:00:00,R221,R170,01-03-00,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,39068,89299,14 ST-UNION SQ 01-03-00 R221
2022-09-29 13:00:00,R221,R170,01-03-00,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,39239,89825,14 ST-UNION SQ 01-03-00 R221
2022-09-29 17:00:00,R221,R170,01-03-00,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,39670,90532,14 ST-UNION SQ 01-03-00 R221
2022-09-29 21:00:00,R221,R170,01-03-00,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,39983,91371,14 ST-UNION SQ 01-03-00 R221
2022-09-30 01:00:00,R221,R170,01-03-00,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,40097,91519,14 ST-UNION SQ 01-03-00 R221
2022-09-30 05:00:00,R221,R170,01-03-00,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,40110,91537,14 ST-UNION SQ 01-03-00 R221
2022-09-30 09:00:00,R221,R170,01-03-00,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,40233,92109,14 ST-UNION SQ 01-03-00 R221
2022-09-30 13:00:00,R221,R170,01-03-00,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,40396,92611,14 ST-UNION SQ 01-03-00 R221
2022-09-30 17:00:00,R221,R170,01-03-00,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,40865,93275,14 ST-UNION SQ 01-03-00 R221
2022-09-30 21:00:00,R221,R170,01-03-00,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,41255,93926,14 ST-UNION SQ 01-03-00 R221
2022-10-01 01:00:00,R221,R170,01-03-00,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,41420,94223,14 ST-UNION SQ 01-03-00 R221
2022-10-01 05:00:00,R221,R170,01-03-00,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,41440,94284,14 ST-UNION SQ 01-03-00 R221
2022-10-01 09:00:00,R221,R170,01-03-00,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,41479,94421,14 ST-UNION SQ 01-03-00 R221
2022-10-01 13:00:00,R221,R170,01-03-00,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,41566,94843,14 ST-UNION SQ 01-03-00 R221
2022-10-01 17:00:00,R221,R170,01-03-00,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,41714,95480,14 ST-UNION SQ 01-03-00 R221
2022-10-01 21:00:00,R221,R170,01-03-00,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,41909,96003,14 ST-UNION SQ 01-03-00 R221
2022-10-02 01:00:00,R221,R170,01-03-00,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,42023,96210,14 ST-UNION SQ 01-03-00 R221
2022-10-02 05:00:00,R221,R170,01-03-00,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,42049,96245,14 ST-UNION SQ 01-03-00 R221
2022-10-02 09:00:00,R221,R170,01-03-00,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,42083,96351,14 ST-UNION SQ 01-03-00 R221
2022-10-02 13:00:00,R221,R170,01-03-00,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,88,301,14 ST-UNION SQ 01-03-00 R221
2022-10-02 17:00:00,R221,R170,01-03-00,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,241,822,14 ST-UNION SQ 01-03-00 R221
2022-10-02 21:00:00,R221,R170,01-03-00,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,365,1182,14 ST-UNION SQ 01-03-00 R221
2022-10-03 01:00:00,R221,R170,01-03-00,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,454,1287,14 ST-UNION SQ 01-03-00 R221
2022-10-03 05:00:00,R221,R170,01-03-00,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,465,1302,14 ST-UNION SQ 01-03-00 R221
2022-10-03 09:00:00,R221,R170,01-03-00,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,584,1888,14 ST-UNION SQ 01-03-00 R221
2022-10-03 13:00:00,R221,R170,01-03-00,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,745,2392,14 ST-UNION SQ 01-03-00 R221
2022-10-03 17:00:00,R221,R170,01-03-00,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,1197,3008,14 ST-UNION SQ 01-03-00 R221
2022-10-03 21:00:00,R221,R170,01-03-00,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,1512,3655,14 ST-UNION SQ 01-03-00 R221
2022-10-04 01:00:00,R221,R170,01-03-00,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,1594,3796,14 ST-UNION SQ 01-03-00 R221
2022-10-04 05:00:00,R221,R170,01-03-00,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,1605,3819,14 ST-UNION SQ 01-03-00 R221
2022-10-04 09:00:00,R221,R170,01-03-00,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,1773,4466,14 ST-UNION SQ 01-03-00 R221
2022-10-04 13:00:00,R221,R170,01-03-00,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,1949,4975,14 ST-UNION SQ 01-03-00 R221
2022-10-04 17:00:00,R221,R170,01-03-00,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,2440,5474,14 ST-UNION SQ 01-03-00 R221
2022-10-04 21:00:00,R221,R170,01-03-00,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,2772,6083,14 ST-UNION SQ 01-03-00 R221
2022-10-05 01:00:00,R221,R170,01-03-00,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,2893,6194,14 ST-UNION SQ 01-03-00 R221
2022-10-05 05:00:00,R221,R170,01-03-00,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,2901,6211,14 ST-UNION SQ 01-03-00 R221
2022-10-05 09:00:00,R221,R170,01-03-00,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,3007,6712,14 ST-UNION SQ 01-03-00 R221
2022-10-05 13:00:00,R221,R170,01-03-00,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,3171,7182,14 ST-UNION SQ 01-03-00 R221
2022-10-05 17:00:00,R221,R170,01-03-00,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,3527,7735,14 ST-UNION SQ 01-03-00 R221
2022-10-05 21:00:00,R221,R170,01-03-00,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,3817,8316,14 ST-UNION SQ 01-03-00 R221
2022-10-06 01:00:00,R221,R170,01-03-00,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,3936,8463,14 ST-UNION SQ 01-03-00 R221
2022-10-06 05:00:00,R221,R170,01-03-00,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,3951,8476,14 ST-UNION SQ 01-03-00 R221
2022-10-06 09:00:00,R221,R170,01-03-00,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,4097,9141,14 ST-UNION SQ 01-03-00 R221
2022-10-06 13:00:00,R221,R170,01-03-00,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,4308,9709,14 ST-UNION SQ 01-03-00 R221
2022-10-06 17:00:00,R221,R170,01-03-00,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,4781,10338,14 ST-UNION SQ 01-03-00 R221
2022-10-06 21:00:00,R221,R170,01-03-00,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,5135,11093,14 ST-UNION SQ 01-03-00 R221
2022-10-07 01:00:00,R221,R170,01-03-00,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,5287,11277,14 ST-UNION SQ 01-03-00 R221
2022-10-07 05:00:00,R221,R170,01-03-00,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,5305,11297,14 ST-UNION SQ 01-03-00 R221
2022-10-07 09:00:00,R221,R170,01-03-00,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,5447,11827,14 ST-UNION SQ 01-03-00 R221
2022-10-07 13:00:00,R221,R170,01-03-00,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,5655,12275,14 ST-UNION SQ 01-03-00 R221
2022-10-07 17:00:00,R221,R170,01-03-00,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,6080,13058,14 ST-UNION SQ 01-03-00 R221
2022-10-07 21:00:00,R221,R170,01-03-00,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,6383,13783,14 ST-UNION SQ 01-03-00 R221

In [127]:
uq_st[uq_st['stat_id'] == '14 ST-UNION SQ 01-03-01 R221']

,c/a,unit,scp,station,linename,division,desc,entries,exits,stat_id
datetime,,,,,,,,,,
2022-09-24 01:00:00,R221,R170,01-03-01,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,12450740,18198950,14 ST-UNION SQ 01-03-01 R221
2022-09-24 05:00:00,R221,R170,01-03-01,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,12450762,18199019,14 ST-UNION SQ 01-03-01 R221
2022-09-24 09:00:00,R221,R170,01-03-01,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,12450821,18199231,14 ST-UNION SQ 01-03-01 R221
2022-09-24 13:00:00,R221,R170,01-03-01,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,12450908,18199739,14 ST-UNION SQ 01-03-01 R221
2022-09-24 17:00:00,R221,R170,01-03-01,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,12451089,18200445,14 ST-UNION SQ 01-03-01 R221
2022-09-24 21:00:00,R221,R170,01-03-01,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,12451220,18201135,14 ST-UNION SQ 01-03-01 R221
2022-09-25 01:00:00,R221,R170,01-03-01,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,12451319,18201482,14 ST-UNION SQ 01-03-01 R221
2022-09-25 05:00:00,R221,R170,01-03-01,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,12451336,18201530,14 ST-UNION SQ 01-03-01 R221
2022-09-25 09:00:00,R221,R170,01-03-01,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,12451376,18201679,14 ST-UNION SQ 01-03-01 R221
2022-09-25 13:00:00,R221,R170,01-03-01,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,12451443,18202095,14 ST-UNION SQ 01-03-01 R221
2022-09-25 17:00:00,R221,R170,01-03-01,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,12451573,18202675,14 ST-UNION SQ 01-03-01 R221
2022-09-25 21:00:00,R221,R170,01-03-01,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,12451692,18203148,14 ST-UNION SQ 01-03-01 R221
2022-09-26 01:00:00,R221,R170,01-03-01,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,12451759,18203313,14 ST-UNION SQ 01-03-01 R221
2022-09-26 05:00:00,R221,R170,01-03-01,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,12451770,18203332,14 ST-UNION SQ 01-03-01 R221
2022-09-26 09:00:00,R221,R170,01-03-01,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,12451877,18203973,14 ST-UNION SQ 01-03-01 R221
2022-09-26 13:00:00,R221,R170,01-03-01,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,12452029,18204519,14 ST-UNION SQ 01-03-01 R221
2022-09-26 17:00:00,R221,R170,01-03-01,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,12452314,18205132,14 ST-UNION SQ 01-03-01 R221
2022-09-26 21:00:00,R221,R170,01-03-01,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,12452527,18205778,14 ST-UNION SQ 01-03-01 R221
2022-09-27 01:00:00,R221,R170,01-03-01,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,12452605,18205916,14 ST-UNION SQ 01-03-01 R221
2022-09-27 05:00:00,R221,R170,01-03-01,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,12452613,18205937,14 ST-UNION SQ 01-03-01 R221
2022-09-27 09:00:00,R221,R170,01-03-01,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,12452723,18206729,14 ST-UNION SQ 01-03-01 R221
2022-09-27 13:00:00,R221,R170,01-03-01,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,12452866,18207401,14 ST-UNION SQ 01-03-01 R221
2022-09-27 17:00:00,R221,R170,01-03-01,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,12453157,18208001,14 ST-UNION SQ 01-03-01 R221
2022-09-27 21:00:00,R221,R170,01-03-01,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,12453387,18208814,14 ST-UNION SQ 01-03-01 R221
2022-09-28 01:00:00,R221,R170,01-03-01,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,12453503,18208994,14 ST-UNION SQ 01-03-01 R221
2022-09-28 05:00:00,R221,R170,01-03-01,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,12453516,18209027,14 ST-UNION SQ 01-03-01 R221
2022-09-28 09:00:00,R221,R170,01-03-01,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,12453655,18210004,14 ST-UNION SQ 01-03-01 R221
2022-09-28 13:00:00,R221,R170,01-03-01,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,12453816,18210644,14 ST-UNION SQ 01-03-01 R221
2022-09-28 17:00:00,R221,R170,01-03-01,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,12454245,18211245,14 ST-UNION SQ 01-03-01 R221
2022-09-28 21:00:00,R221,R170,01-03-01,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,12454551,18212098,14 ST-UNION SQ 01-03-01 R221
2022-09-29 01:00:00,R221,R170,01-03-01,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,12454644,18212269,14 ST-UNION SQ 01-03-01 R221
2022-09-29 05:00:00,R221,R170,01-03-01,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,12454657,18212297,14 ST-UNION SQ 01-03-01 R221
2022-09-29 09:00:00,R221,R170,01-03-01,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,12454778,18213231,14 ST-UNION SQ 01-03-01 R221
2022-09-29 13:00:00,R221,R170,01-03-01,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,12454942,18213850,14 ST-UNION SQ 01-03-01 R221
2022-09-29 17:00:00,R221,R170,01-03-01,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,12455356,18214513,14 ST-UNION SQ 01-03-01 R221
2022-09-29 21:00:00,R221,R170,01-03-01,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,12455663,18215344,14 ST-UNION SQ 01-03-01 R221
2022-09-30 01:00:00,R221,R170,01-03-01,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,12455764,18215561,14 ST-UNION SQ 01-03-01 R221
2022-09-30 05:00:00,R221,R170,01-03-01,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,12455773,18215602,14 ST-UNION SQ 01-03-01 R221
2022-09-30 09:00:00,R221,R170,01-03-01,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,12455891,18216410,14 ST-UNION SQ 01-03-01 R221
2022-09-30 13:00:00,R221,R170,01-03-01,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,12456032,18217053,14 ST-UNION SQ 01-03-01 R221
2022-09-30 17:00:00,R221,R170,01-03-01,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,12456426,18217849,14 ST-UNION SQ 01-03-01 R221
2022-09-30 21:00:00,R221,R170,01-03-01,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,12456712,18218713,14 ST-UNION SQ 01-03-01 R221
2022-10-01 01:00:00,R221,R170,01-03-01,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,12456828,18219054,14 ST-UNION SQ 01-03-01 R221
2022-10-01 05:00:00,R221,R170,01-03-01,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,12456851,18219128,14 ST-UNION SQ 01-03-01 R221
2022-10-01 09:00:00,R221,R170,01-03-01,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,12456889,18219340,14 ST-UNION SQ 01-03-01 R221
2022-10-01 13:00:00,R221,R170,01-03-01,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,12456976,18219794,14 ST-UNION SQ 01-03-01 R221
2022-10-01 17:00:00,R221,R170,01-03-01,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,12457100,18220491,14 ST-UNION SQ 01-03-01 R221
2022-10-01 21:00:00,R221,R170,01-03-01,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,12457246,18221118,14 ST-UNION SQ 01-03-01 R221
2022-10-02 01:00:00,R221,R170,01-03-01,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,12457330,18221390,14 ST-UNION SQ 01-03-01 R221
2022-10-02 05:00:00,R221,R170,01-03-01,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,12457349,18221435,14 ST-UNION SQ 01-03-01 R221
2022-10-02 09:00:00,R221,R170,01-03-01,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,12457390,18221628,14 ST-UNION SQ 01-03-01 R221
2022-10-02 13:00:00,R221,R170,01-03-01,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,52,334,14 ST-UNION SQ 01-03-01 R221
2022-10-02 17:00:00,R221,R170,01-03-01,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,167,876,14 ST-UNION SQ 01-03-01 R221
2022-10-02 21:00:00,R221,R170,01-03-01,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,278,1311,14 ST-UNION SQ 01-03-01 R221
2022-10-03 01:00:00,R221,R170,01-03-01,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,327,1448,14 ST-UNION SQ 01-03-01 R221
2022-10-03 05:00:00,R221,R170,01-03-01,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,338,1481,14 ST-UNION SQ 01-03-01 R221
2022-10-03 09:00:00,R221,R170,01-03-01,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,460,2317,14 ST-UNION SQ 01-03-01 R221
2022-10-03 13:00:00,R221,R170,01-03-01,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,605,2947,14 ST-UNION SQ 01-03-01 R221
2022-10-03 17:00:00,R221,R170,01-03-01,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,998,3620,14 ST-UNION SQ 01-03-01 R221
2022-10-03 21:00:00,R221,R170,01-03-01,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,1262,4371,14 ST-UNION SQ 01-03-01 R221
2022-10-04 01:00:00,R221,R170,01-03-01,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,1331,4547,14 ST-UNION SQ 01-03-01 R221
2022-10-04 05:00:00,R221,R170,01-03-01,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,1339,4580,14 ST-UNION SQ 01-03-01 R221
2022-10-04 09:00:00,R221,R170,01-03-01,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,1469,5480,14 ST-UNION SQ 01-03-01 R221
2022-10-04 13:00:00,R221,R170,01-03-01,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,1635,6141,14 ST-UNION SQ 01-03-01 R221
2022-10-04 17:00:00,R221,R170,01-03-01,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,2042,6803,14 ST-UNION SQ 01-03-01 R221
2022-10-04 21:00:00,R221,R170,01-03-01,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,2307,7562,14 ST-UNION SQ 01-03-01 R221
2022-10-05 01:00:00,R221,R170,01-03-01,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,2390,7725,14 ST-UNION SQ 01-03-01 R221
2022-10-05 05:00:00,R221,R170,01-03-01,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,2402,7755,14 ST-UNION SQ 01-03-01 R221
2022-10-05 09:00:00,R221,R170,01-03-01,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,2533,8469,14 ST-UNION SQ 01-03-01 R221
2022-10-05 13:00:00,R221,R170,01-03-01,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,2671,9129,14 ST-UNION SQ 01-03-01 R221
2022-10-05 17:00:00,R221,R170,01-03-01,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,2984,9749,14 ST-UNION SQ 01-03-01 R221
2022-10-05 21:00:00,R221,R170,01-03-01,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,3211,10462,14 ST-UNION SQ 01-03-01 R221
2022-10-06 01:00:00,R221,R170,01-03-01,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,3311,10644,14 ST-UNION SQ 01-03-01 R221
2022-10-06 05:00:00,R221,R170,01-03-01,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,3324,10683,14 ST-UNION SQ 01-03-01 R221
2022-10-06 09:00:00,R221,R170,01-03-01,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,3454,11620,14 ST-UNION SQ 01-03-01 R221
2022-10-06 13:00:00,R221,R170,01-03-01,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,3619,12317,14 ST-UNION SQ 01-03-01 R221
2022-10-06 17:00:00,R221,R170,01-03-01,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,4075,13045,14 ST-UNION SQ 01-03-01 R221
2022-10-06 21:00:00,R221,R170,01-03-01,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,4410,13879,14 ST-UNION SQ 01-03-01 R221
2022-10-07 01:00:00,R221,R170,01-03-01,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,4530,14140,14 ST-UNION SQ 01-03-01 R221
2022-10-07 05:00:00,R221,R170,01-03-01,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,4544,14192,14 ST-UNION SQ 01-03-01 R221
2022-10-07 09:00:00,R221,R170,01-03-01,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,4671,15053,14 ST-UNION SQ 01-03-01 R221
2022-10-07 13:00:00,R221,R170,01-03-01,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,4834,15650,14 ST-UNION SQ 01-03-01 R221
2022-10-07 17:00:00,R221,R170,01-03-01,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,5256,16362,14 ST-UNION SQ 01-03-01 R221
2022-10-07 21:00:00,R221,R170,01-03-01,14 ST-UNION SQ,456LNQRW,IRT,REGULAR,5539,17133,14 ST-UNION SQ 01-03-01 R221

In [129]:
de_st = df[df['station'] == 'DEKALB AV']

In [130]:
de_st_ee = total_entries_exits(de_st)
de_st_ee

[['DEKALB AV 00-06-02 H023', 4898, 5165],
 ['DEKALB AV 00-06-01 H023', 12246, 702],
 ['DEKALB AV 00-06-00 H023', -9018, 5484],
 ['DEKALB AV 00-00-02 H023', 11680, 10886],
 ['DEKALB AV 00-00-01 H023', -5960, 5147],
 ['DEKALB AV 00-00-00 H023', 10432, 8477],
 ['DEKALB AV 00-06-00 C008', 15188, 18388],
 ['DEKALB AV 00-06-03 C008', 9846, 10701],
 ['DEKALB AV 00-06-02 C008', 16676, 7510],
 ['DEKALB AV 00-06-01 C008', 10028, 9667],
 ['DEKALB AV 00-00-00 C008', -3216, 20427],
 ['DEKALB AV 00-00-01 C008', 2625, 8422],
 ['DEKALB AV 00-04-00 C008', 249, 0],
 ['DEKALB AV 00-03-04 C008', 10706, 15434],
 ['DEKALB AV 00-03-03 C008', 10629, 8769],
 ['DEKALB AV 00-03-02 C008', 7285, 5172],
 ['DEKALB AV 00-03-01 C008', 4916, 3753],
 ['DEKALB AV 00-03-00 C008', 4656, 3697],
 ['DEKALB AV 00-00-03 C008', 3885, 3905],
 ['DEKALB AV 00-00-02 C008', 2562, 5386],
 ['DEKALB AV 00-04-01 C008', 0, 25]]

In [131]:
de_st[de_st['stat_id'] == 'DEKALB AV 00-06-00 H023']

,c/a,unit,scp,station,linename,division,desc,entries,exits,stat_id
datetime,,,,,,,,,,
2022-09-24 00:00:00,H023,R236,00-06-00,DEKALB AV,L,BMT,REGULAR,1926298414,856514082,DEKALB AV 00-06-00 H023
2022-09-24 04:00:00,H023,R236,00-06-00,DEKALB AV,L,BMT,REGULAR,1926298407,856514101,DEKALB AV 00-06-00 H023
2022-09-24 08:00:00,H023,R236,00-06-00,DEKALB AV,L,BMT,REGULAR,1926298340,856514141,DEKALB AV 00-06-00 H023
2022-09-24 12:00:00,H023,R236,00-06-00,DEKALB AV,L,BMT,REGULAR,1926298219,856514202,DEKALB AV 00-06-00 H023
2022-09-24 16:00:00,H023,R236,00-06-00,DEKALB AV,L,BMT,REGULAR,1926298082,856514283,DEKALB AV 00-06-00 H023
2022-09-24 20:00:00,H023,R236,00-06-00,DEKALB AV,L,BMT,REGULAR,1926297967,856514386,DEKALB AV 00-06-00 H023
2022-09-25 00:00:00,H023,R236,00-06-00,DEKALB AV,L,BMT,REGULAR,1926297922,856514438,DEKALB AV 00-06-00 H023
2022-09-25 04:00:00,H023,R236,00-06-00,DEKALB AV,L,BMT,REGULAR,1926297906,856514458,DEKALB AV 00-06-00 H023
2022-09-25 08:00:00,H023,R236,00-06-00,DEKALB AV,L,BMT,REGULAR,1926297861,856514481,DEKALB AV 00-06-00 H023
2022-09-25 12:00:00,H023,R236,00-06-00,DEKALB AV,L,BMT,REGULAR,1926297733,856514532,DEKALB AV 00-06-00 H023
2022-09-25 16:00:00,H023,R236,00-06-00,DEKALB AV,L,BMT,REGULAR,1926297629,856514593,DEKALB AV 00-06-00 H023
2022-09-25 20:00:00,H023,R236,00-06-00,DEKALB AV,L,BMT,REGULAR,1926297553,856514659,DEKALB AV 00-06-00 H023
2022-09-26 00:00:00,H023,R236,00-06-00,DEKALB AV,L,BMT,REGULAR,1926297525,856514691,DEKALB AV 00-06-00 H023
2022-09-26 04:00:00,H023,R236,00-06-00,DEKALB AV,L,BMT,REGULAR,1926297522,856514695,DEKALB AV 00-06-00 H023
2022-09-26 08:00:00,H023,R236,00-06-00,DEKALB AV,L,BMT,REGULAR,1926297328,856514748,DEKALB AV 00-06-00 H023
2022-09-26 12:00:00,H023,R236,00-06-00,DEKALB AV,L,BMT,REGULAR,1926297124,856514844,DEKALB AV 00-06-00 H023
2022-09-26 16:00:00,H023,R236,00-06-00,DEKALB AV,L,BMT,REGULAR,1926297009,856514933,DEKALB AV 00-06-00 H023
2022-09-26 20:00:00,H023,R236,00-06-00,DEKALB AV,L,BMT,REGULAR,1926296873,856515021,DEKALB AV 00-06-00 H023
2022-09-27 00:00:00,H023,R236,00-06-00,DEKALB AV,L,BMT,REGULAR,1926296852,856515047,DEKALB AV 00-06-00 H023
2022-09-27 04:00:00,H023,R236,00-06-00,DEKALB AV,L,BMT,REGULAR,1926296846,856515054,DEKALB AV 00-06-00 H023
2022-09-27 08:00:00,H023,R236,00-06-00,DEKALB AV,L,BMT,REGULAR,1926296632,856515125,DEKALB AV 00-06-00 H023
2022-09-27 12:00:00,H023,R236,00-06-00,DEKALB AV,L,BMT,REGULAR,1926296422,856515224,DEKALB AV 00-06-00 H023
2022-09-27 16:00:00,H023,R236,00-06-00,DEKALB AV,L,BMT,REGULAR,1926296318,856515299,DEKALB AV 00-06-00 H023
2022-09-27 20:00:00,H023,R236,00-06-00,DEKALB AV,L,BMT,REGULAR,1926296204,856515412,DEKALB AV 00-06-00 H023
2022-09-28 00:00:00,H023,R236,00-06-00,DEKALB AV,L,BMT,REGULAR,1926296181,856515464,DEKALB AV 00-06-00 H023
2022-09-28 04:00:00,H023,R236,00-06-00,DEKALB AV,L,BMT,REGULAR,1926296177,856515467,DEKALB AV 00-06-00 H023
2022-09-28 08:00:00,H023,R236,00-06-00,DEKALB AV,L,BMT,REGULAR,1926295893,856515535,DEKALB AV 00-06-00 H023
2022-09-28 12:00:00,H023,R236,00-06-00,DEKALB AV,L,BMT,REGULAR,1926295631,856515619,DEKALB AV 00-06-00 H023
2022-09-28 16:00:00,H023,R236,00-06-00,DEKALB AV,L,BMT,REGULAR,1926295501,856515723,DEKALB AV 00-06-00 H023
2022-09-28 20:00:00,H023,R236,00-06-00,DEKALB AV,L,BMT,REGULAR,1926295368,856515852,DEKALB AV 00-06-00 H023
2022-09-29 00:00:00,H023,R236,00-06-00,DEKALB AV,L,BMT,REGULAR,1926295346,856515915,DEKALB AV 00-06-00 H023
2022-09-29 04:00:00,H023,R236,00-06-00,DEKALB AV,L,BMT,REGULAR,1926295343,856515920,DEKALB AV 00-06-00 H023
2022-09-29 08:00:00,H023,R236,00-06-00,DEKALB AV,L,BMT,REGULAR,1926295104,856515989,DEKALB AV 00-06-00 H023
2022-09-29 12:00:00,H023,R236,00-06-00,DEKALB AV,L,BMT,REGULAR,1926294858,856516101,DEKALB AV 00-06-00 H023
2022-09-29 16:00:00,H023,R236,00-06-00,DEKALB AV,L,BMT,REGULAR,1926294728,856516198,DEKALB AV 00-06-00 H023
2022-09-29 20:00:00,H023,R236,00-06-00,DEKALB AV,L,BMT,REGULAR,1926294597,856516326,DEKALB AV 00-06-00 H023
2022-09-30 00:00:00,H023,R236,00-06-00,DEKALB AV,L,BMT,REGULAR,1926294572,856516375,DEKALB AV 00-06-00 H023
2022-09-30 04:00:00,H023,R236,00-06-00,DEKALB AV,L,BMT,REGULAR,1926294569,856516388,DEKALB AV 00-06-00 H023
2022-09-30 08:00:00,H023,R236,00-06-00,DEKALB AV,L,BMT,REGULAR,1926294361,856516465,DEKALB AV 00-06-00 H023
2022-09-30 12:00:00,H023,R236,00-06-00,DEKALB AV,L,BMT,REGULAR,1926294165,856516561,DEKALB AV 00-06-00 H023
2022-09-30 16:00:00,H023,R236,00-06-00,DEKALB AV,L,BMT,REGULAR,1926294050,856516665,DEKALB AV 00-06-00 H023
2022-09-30 20:00:00,H023,R236,00-06-00,DEKALB AV,L,BMT,REGULAR,1926293915,856516783,DEKALB AV 00-06-00 H023
2022-10-01 00:00:00,H023,R236,00-06-00,DEKALB AV,L,BMT,REGULAR,1926293868,856516842,DEKALB AV 00-06-00 H023
2022-10-01 04:00:00,H023,R236,00-06-00,DEKALB AV,L,BMT,REGULAR,1926293858,856516858,DEKALB AV 00-06-00 H023
2022-10-01 08:00:00,H023,R236,00-06-00,DEKALB AV,L,BMT,REGULAR,1926293806,856516890,DEKALB AV 00-06-00 H023
2022-10-01 12:00:00,H023,R236,00-06-00,DEKALB AV,L,BMT,REGULAR,1926293700,856516950,DEKALB AV 00-06-00 H023
2022-10-01 16:00:00,H023,R236,00-06-00,DEKALB AV,L,BMT,REGULAR,1926293601,856517037,DEKALB AV 00-06-00 H023
2022-10-01 20:00:00,H023,R236,00-06-00,DEKALB AV,L,BMT,REGULAR,1926293514,856517110,DEKALB AV 00-06-00 H023
2022-10-02 00:00:00,H023,R236,00-06-00,DEKALB AV,L,BMT,REGULAR,1926293470,856517149,DEKALB AV 00-06-00 H023
2022-10-02 04:00:00,H023,R236,00-06-00,DEKALB AV,L,BMT,REGULAR,1926293463,856517160,DEKALB AV 00-06-00 H023
2022-10-02 08:00:00,H023,R236,00-06-00,DEKALB AV,L,BMT,REGULAR,1926293406,856517179,DEKALB AV 00-06-00 H023
2022-10-02 12:00:00,H023,R236,00-06-00,DEKALB AV,L,BMT,REGULAR,1926293313,856517224,DEKALB AV 00-06-00 H023
2022-10-02 16:00:00,H023,R236,00-06-00,DEKALB AV,L,BMT,REGULAR,1926293223,856517275,DEKALB AV 00-06-00 H023
2022-10-02 18:12:01,H023,R236,00-06-00,DEKALB AV,L,BMT,REGULAR,1926293182,856517321,DEKALB AV 00-06-00 H023
2022-10-02 18:13:22,H023,R236,00-06-00,DEKALB AV,L,BMT,REGULAR,1926293182,856517321,DEKALB AV 00-06-00 H023
2022-10-02 18:14:42,H023,R236,00-06-00,DEKALB AV,L,BMT,REGULAR,1926293182,856517321,DEKALB AV 00-06-00 H023
2022-10-02 18:16:02,H023,R236,00-06-00,DEKALB AV,L,BMT,REGULAR,1926293182,856517321,DEKALB AV 00-06-00 H023
2022-10-02 20:00:00,H023,R236,00-06-00,DEKALB AV,L,BMT,REGULAR,1926293160,856517337,DEKALB AV 00-06-00 H023
2022-10-03 00:00:00,H023,R236,00-06-00,DEKALB AV,L,BMT,REGULAR,1926293141,856517366,DEKALB AV 00-06-00 H023
2022-10-03 04:00:00,H023,R236,00-06-00,DEKALB AV,L,BMT,REGULAR,1926293134,856517368,DEKALB AV 00-06-00 H023
2022-10-03 08:00:00,H023,R236,00-06-00,DEKALB AV,L,BMT,REGULAR,1926292938,856517441,DEKALB AV 00-06-00 H023
2022-10-03 12:00:00,H023,R236,00-06-00,DEKALB AV,L,BMT,REGULAR,1926292716,856517516,DEKALB AV 00-06-00 H023
2022-10-03 16:00:00,H023,R236,00-06-00,DEKALB AV,L,BMT,REGULAR,1926292604,856517623,DEKALB AV 00-06-00 H023
2022-10-03 20:00:00,H023,R236,00-06-00,DEKALB AV,L,BMT,REGULAR,1926292489,856517748,DEKALB AV 00-06-00 H023
2022-10-04 00:00:00,H023,R236,00-06-00,DEKALB AV,L,BMT,REGULAR,1926292466,856517790,DEKALB AV 00-06-00 H023
2022-10-04 04:00:00,H023,R236,00-06-00,DEKALB AV,L,BMT,REGULAR,1926292463,856517792,DEKALB AV 00-06-00 H023
2022-10-04 08:00:00,H023,R236,00-06-00,DEKALB AV,L,BMT,REGULAR,1926292238,856517871,DEKALB AV 00-06-00 H023
2022-10-04 12:00:00,H023,R236,00-06-00,DEKALB AV,L,BMT,REGULAR,1926292001,856517949,DEKALB AV 00-06-00 H023
2022-10-04 16:00:00,H023,R236,00-06-00,DEKALB AV,L,BMT,REGULAR,1926291877,856518049,DEKALB AV 00-06-00 H023
2022-10-04 20:00:00,H023,R236,00-06-00,DEKALB AV,L,BMT,REGULAR,1926291729,856518188,DEKALB AV 00-06-00 H023
2022-10-05 00:00:00,H023,R236,00-06-00,DEKALB AV,L,BMT,REGULAR,1926291704,856518228,DEKALB AV 00-06-00 H023
2022-10-05 04:00:00,H023,R236,00-06-00,DEKALB AV,L,BMT,REGULAR,1926291700,856518232,DEKALB AV 00-06-00 H023
2022-10-05 08:00:00,H023,R236,00-06-00,DEKALB AV,L,BMT,REGULAR,1926291513,856518300,DEKALB AV 00-06-00 H023
2022-10-05 12:00:00,H023,R236,00-06-00,DEKALB AV,L,BMT,REGULAR,1926291307,856518406,DEKALB AV 00-06-00 H023
2022-10-05 16:00:00,H023,R236,00-06-00,DEKALB AV,L,BMT,REGULAR,1926291191,856518491,DEKALB AV 00-06-00 H023
2022-10-05 20:00:00,H023,R236,00-06-00,DEKALB AV,L,BMT,REGULAR,1926291079,856518616,DEKALB AV 00-06-00 H023
2022-10-06 00:00:00,H023,R236,00-06-00,DEKALB AV,L,BMT,REGULAR,1926291047,856518666,DEKALB AV 00-06-00 H023
2022-10-06 04:00:00,H023,R236,00-06-00,DEKALB AV,L,BMT,REGULAR,1926291042,856518671,DEKALB AV 00-06-00 H023
2022-10-06 08:00:00,H023,R236,00-06-00,DEKALB AV,L,BMT,REGULAR,1926290694,856518764,DEKALB AV 00-06-00 H023
2022-10-06 12:00:00,H023,R236,00-06-00,DEKALB AV,L,BMT,REGULAR,1926290436,856518860,DEKALB AV 00-06-00 H023
2022-10-06 16:00:00,H023,R236,00-06-00,DEKALB AV,L,BMT,REGULAR,1926290318,856518940,DEKALB AV 00-06-00 H023
2022-10-06 20:00:00,H023,R236,00-06-00,DEKALB AV,L,BMT,REGULAR,1926290192,856519063,DEKALB AV 00-06-00 H023
2022-10-07 00:00:00,H023,R236,00-06-00,DEKALB AV,L,BMT,REGULAR,1926290165,856519120,DEKALB AV 00-06-00 H023
2022-10-07 04:00:00,H023,R236,00-06-00,DEKALB AV,L,BMT,REGULAR,1926290161,856519122,DEKALB AV 00-06-00 H023
2022-10-07 08:00:00,H023,R236,00-06-00,DEKALB AV,L,BMT,REGULAR,1926289877,856519224,DEKALB AV 00-06-00 H023
2022-10-07 12:00:00,H023,R236,00-06-00,DEKALB AV,L,BMT,REGULAR,1926289651,856519326,DEKALB AV 00-06-00 H023
2022-10-07 16:00:00,H023,R236,00-06-00,DEKALB AV,L,BMT,REGULAR,1926289521,856519445,DEKALB AV 00-06-00 H023
2022-10-07 20:00:00,H023,R236,00-06-00,DEKALB AV,L,BMT,REGULAR,1926289396,856519566,DEKALB AV 00-06-00 H023

Some of the turnstile detectors were replaced/reseted. We can calculate that difference, but it will take a lot of time and since incorrect data is less than 0.5 percent of the dataset, more efficient solution is just drop it.

In [757]:
df.loc["125 ST 00-06-00 R258"].iloc[50:]

,c/a,unit,scp,station,linename,division,desc,entries,exits
datetime,,,,,,,,,
2022-10-04 09:00:00,R258,R132,00-06-00,125 ST,456,IRT,REGULAR,275772980,324331921
2022-10-04 13:00:00,R258,R132,00-06-00,125 ST,456,IRT,REGULAR,275773000,324332194
2022-10-05 05:00:00,R258,R132,00-06-00,125 ST,456,IRT,REGULAR,275773227,324332636
2022-10-05 09:00:00,R258,R132,00-06-00,125 ST,456,IRT,REGULAR,275773365,324332903
2022-10-06 13:00:00,R258,R132,00-06-00,125 ST,456,IRT,REGULAR,275773530,324333223
2022-10-06 21:00:00,R258,R132,00-06-00,125 ST,456,IRT,REGULAR,1325,254
2022-10-07 01:00:00,R258,R132,00-06-00,125 ST,456,IRT,REGULAR,1362,327
2022-10-07 05:00:00,R258,R132,00-06-00,125 ST,456,IRT,REGULAR,1375,359
2022-10-07 09:00:00,R258,R132,00-06-00,125 ST,456,IRT,REGULAR,1551,783
2022-10-07 13:00:00,R258,R132,00-06-00,125 ST,456,IRT,REGULAR,1688,1029
2022-10-07 17:00:00,R258,R132,00-06-00,125 ST,456,IRT,REGULAR,1933,1425
2022-10-07 21:00:00,R258,R132,00-06-00,125 ST,456,IRT,REGULAR,2101,1686

In [758]:
df.loc["WOODHAVEN BLVD 00-03-03 N329"].head()

,c/a,unit,scp,station,linename,division,desc,entries,exits
datetime,,,,,,,,,
2022-09-24 01:00:00,N329,R201,00-03-03,WOODHAVEN BLVD,MR,IND,REGULAR,16662066,250875
2022-09-24 05:00:00,N329,R201,00-03-03,WOODHAVEN BLVD,MR,IND,REGULAR,16662063,250887
2022-09-24 09:00:00,N329,R201,00-03-03,WOODHAVEN BLVD,MR,IND,REGULAR,16662025,250904
2022-09-24 13:00:00,N329,R201,00-03-03,WOODHAVEN BLVD,MR,IND,REGULAR,16661961,250951
2022-09-24 17:00:00,N329,R201,00-03-03,WOODHAVEN BLVD,MR,IND,REGULAR,16661870,251048

Some of the data from turnstiles is reversed in the dataset. Let's add reverse for such cases in the code below. This method gets grouped dataframe and returns absolute values for entries and exits instead of relevant.

In [759]:
res=pd.DataFrame()
def calc(temp):
    #if data if reversed - changes the order and calculates diff()
    if temp['entries'].diff().sum()<0:
        ds = pd.Series(temp['entries'].values[::-1], temp['entries'].index)       
        temp["entries_abs"]=ds.diff()
    else:
        temp['entries_abs']=temp['entries'].diff()
        
    #if data if reversed - changes the order and calculates diff()
    if temp['exits'].diff().sum()<0:
        ds = pd.Series(temp['exits'].values[::-1], temp['exits'].index)       
        temp["exits_abs"]=ds.diff()
    else:
        temp['exits_abs']=temp['exits'].diff()
    return temp

In [760]:
df=df.groupby(level=0).apply(lambda x: calc(x))

In [761]:
df

                                              c/a  unit       scp    station  \
stat_id                 datetime
1 AV 00-00-00 H007      2022-09-24 00:00:00  H007  R248  00-00-00       1 AV
                        2022-09-24 04:00:00  H007  R248  00-00-00       1 AV
                        2022-09-24 08:00:00  H007  R248  00-00-00       1 AV
                        2022-09-24 12:00:00  H007  R248  00-00-00       1 AV
                        2022-09-24 16:00:00  H007  R248  00-00-00       1 AV
...                                           ...   ...       ...        ...
ZEREGA AV 00-05-01 R419 2022-10-07 05:00:00  R419  R326  00-05-01  ZEREGA AV
                        2022-10-07 09:00:00  R419  R326  00-05-01  ZEREGA AV
                        2022-10-07 13:00:00  R419  R326  00-05-01  ZEREGA AV
                        2022-10-07 17:00:00  R419  R326  00-05-01  ZEREGA AV
                        2022-10-07 21:00:00  R419  R326  00-05-01  ZEREGA AV

                                            linename division     desc  \
stat_id                 datetime
1 AV 00-00-00 H007      2022-09-24 00:00:00        L      BMT  REGULAR
                        2022-09-24 04:00:00        L      BMT  REGULAR
                        2022-09-24 08:00:00        L      BMT  REGULAR
                        2022-09-24 12:00:00        L      BMT  REGULAR
                        2022-09-24 16:00:00        L      BMT  REGULAR
...                                              ...      ...      ...
ZEREGA AV 00-05-01 R419 2022-10-07 05:00:00        6      IRT  REGULAR
                        2022-10-07 09:00:00        6      IRT  REGULAR
                        2022-10-07 13:00:00        6      IRT  REGULAR
                        2022-10-07 17:00:00        6      IRT  REGULAR
                        2022-10-07 21:00:00        6      IRT  REGULAR

                                              entries     exits  entries_abs  \
stat_id                 datetime
1 AV 00-00-00 H007      2022-09-24 00:00:00  15841287  19006318          NaN
                        2022-09-24 04:00:00  15841308  19006484         21.0
                        2022-09-24 08:00:00  15841319  19006685         11.0
                        2022-09-24 12:00:00  15841363  19007161         44.0
                        2022-09-24 16:00:00  15841455  19007876         92.0
...                                               ...       ...          ...
ZEREGA AV 00-05-01 R419 2022-10-07 05:00:00        39       289          0.0
                        2022-10-07 09:00:00        39       289          0.0
                        2022-10-07 13:00:00        39       289          0.0
                        2022-10-07 17:00:00        39       289          0.0
                        2022-10-07 21:00:00        39       289          0.0

                                             exits_abs
stat_id                 datetime
1 AV 00-00-00 H007      2022-09-24 00:00:00        NaN
                        2022-09-24 04:00:00      166.0
                        2022-09-24 08:00:00      201.0
                        2022-09-24 12:00:00      476.0
                        2022-09-24 16:00:00      715.0
...                                                ...
ZEREGA AV 00-05-01 R419 2022-10-07 05:00:00        0.0
                        2022-10-07 09:00:00        0.0
                        2022-10-07 13:00:00        0.0
                        2022-10-07 17:00:00        0.0
                        2022-10-07 21:00:00        0.0

[422384 rows x 11 columns]

Dropping turnstiles with negative values in diff()

In [762]:
df=df.drop(df.index[df['entries_abs'] < 0])
df=df.drop(df.index[df['exits_abs'] < 0])

In [763]:
df

                                              c/a  unit       scp    station  \
stat_id                 datetime
1 AV 00-00-00 H007      2022-09-24 00:00:00  H007  R248  00-00-00       1 AV
                        2022-09-24 04:00:00  H007  R248  00-00-00       1 AV
                        2022-09-24 08:00:00  H007  R248  00-00-00       1 AV
                        2022-09-24 12:00:00  H007  R248  00-00-00       1 AV
                        2022-09-24 16:00:00  H007  R248  00-00-00       1 AV
...                                           ...   ...       ...        ...
ZEREGA AV 00-05-01 R419 2022-10-07 05:00:00  R419  R326  00-05-01  ZEREGA AV
                        2022-10-07 09:00:00  R419  R326  00-05-01  ZEREGA AV
                        2022-10-07 13:00:00  R419  R326  00-05-01  ZEREGA AV
                        2022-10-07 17:00:00  R419  R326  00-05-01  ZEREGA AV
                        2022-10-07 21:00:00  R419  R326  00-05-01  ZEREGA AV

                                            linename division     desc  \
stat_id                 datetime
1 AV 00-00-00 H007      2022-09-24 00:00:00        L      BMT  REGULAR
                        2022-09-24 04:00:00        L      BMT  REGULAR
                        2022-09-24 08:00:00        L      BMT  REGULAR
                        2022-09-24 12:00:00        L      BMT  REGULAR
                        2022-09-24 16:00:00        L      BMT  REGULAR
...                                              ...      ...      ...
ZEREGA AV 00-05-01 R419 2022-10-07 05:00:00        6      IRT  REGULAR
                        2022-10-07 09:00:00        6      IRT  REGULAR
                        2022-10-07 13:00:00        6      IRT  REGULAR
                        2022-10-07 17:00:00        6      IRT  REGULAR
                        2022-10-07 21:00:00        6      IRT  REGULAR

                                              entries     exits  entries_abs  \
stat_id                 datetime
1 AV 00-00-00 H007      2022-09-24 00:00:00  15841287  19006318          NaN
                        2022-09-24 04:00:00  15841308  19006484         21.0
                        2022-09-24 08:00:00  15841319  19006685         11.0
                        2022-09-24 12:00:00  15841363  19007161         44.0
                        2022-09-24 16:00:00  15841455  19007876         92.0
...                                               ...       ...          ...
ZEREGA AV 00-05-01 R419 2022-10-07 05:00:00        39       289          0.0
                        2022-10-07 09:00:00        39       289          0.0
                        2022-10-07 13:00:00        39       289          0.0
                        2022-10-07 17:00:00        39       289          0.0
                        2022-10-07 21:00:00        39       289          0.0

                                             exits_abs
stat_id                 datetime
1 AV 00-00-00 H007      2022-09-24 00:00:00        NaN
                        2022-09-24 04:00:00      166.0
                        2022-09-24 08:00:00      201.0
                        2022-09-24 12:00:00      476.0
                        2022-09-24 16:00:00      715.0
...                                                ...
ZEREGA AV 00-05-01 R419 2022-10-07 05:00:00        0.0
                        2022-10-07 09:00:00        0.0
                        2022-10-07 13:00:00        0.0
                        2022-10-07 17:00:00        0.0
                        2022-10-07 21:00:00        0.0

[420431 rows x 11 columns]

In [764]:
df[df["entries_abs"]<0]

Empty DataFrame
Columns: [c/a, unit, scp, station, linename, division, desc, entries, exits, entries_abs, exits_abs]
Index: []

In [765]:
df[df["exits_abs"]<0]

Empty DataFrame
Columns: [c/a, unit, scp, station, linename, division, desc, entries, exits, entries_abs, exits_abs]
Index: []

Dropping all NaN values and changing size of dataset to one week.

In [766]:
df.isnull().sum()

c/a               0
unit              0
scp               0
station           0
linename          0
division          0
desc              0
entries           0
exits             0
entries_abs    5041
exits_abs      5041
dtype: int64

In [767]:
df.dropna(inplace=True)

In [768]:
df.isnull().sum()

c/a            0
unit           0
scp            0
station        0
linename       0
division       0
desc           0
entries        0
exits          0
entries_abs    0
exits_abs      0
dtype: int64

In [769]:
df=df.reset_index(level=0).loc["2022-10-01":"2022-10-07"]

In [770]:
df

,stat_id,c/a,unit,scp,station,linename,division,desc,entries,exits,entries_abs,exits_abs
datetime,,,,,,,,,,,,
2022-10-01 00:00:00,1 AV 00-00-00 H007,H007,R248,00-00-00,1 AV,L,BMT,REGULAR,15845079,19027035,92.0,474.0
2022-10-01 04:00:00,1 AV 00-00-00 H007,H007,R248,00-00-00,1 AV,L,BMT,REGULAR,15845098,19027234,19.0,199.0
2022-10-01 08:00:00,1 AV 00-00-00 H007,H007,R248,00-00-00,1 AV,L,BMT,REGULAR,15845108,19027401,10.0,167.0
2022-10-01 12:00:00,1 AV 00-00-00 H007,H007,R248,00-00-00,1 AV,L,BMT,REGULAR,15845163,19027781,55.0,380.0
2022-10-01 16:00:00,1 AV 00-00-00 H007,H007,R248,00-00-00,1 AV,L,BMT,REGULAR,15845254,19028361,91.0,580.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2022-10-07 05:00:00,ZEREGA AV 00-05-01 R419,R419,R326,00-05-01,ZEREGA AV,6,IRT,REGULAR,39,289,0.0,0.0
2022-10-07 09:00:00,ZEREGA AV 00-05-01 R419,R419,R326,00-05-01,ZEREGA AV,6,IRT,REGULAR,39,289,0.0,0.0
2022-10-07 13:00:00,ZEREGA AV 00-05-01 R419,R419,R326,00-05-01,ZEREGA AV,6,IRT,REGULAR,39,289,0.0,0.0
2022-10-07 17:00:00,ZEREGA AV 00-05-01 R419,R419,R326,00-05-01,ZEREGA AV,6,IRT,REGULAR,39,289,0.0,0.0
2022-10-07 21:00:00,ZEREGA AV 00-05-01 R419,R419,R326,00-05-01,ZEREGA AV,6,IRT,REGULAR,39,289,0.0,0.0

----

There is another problem. As you can see on the "entries" column, for the turnstile 01-05-00 at WORLD TRADE CTR Station, calculated number of entries was 2140135519, and in eight hours it changes to 8098. Probably turnstile was reseted or replased for some reasons. But that seriously affects absolute value calculation. I'll replace those values with mean for that station on the other day. The threshold to detect such fluctuations will be if that absolute value is greater than 15000. I follow the logic that it is phisically impossible to pass turnstile faster than for a second. For a period of 4 hours this gives us theoretical max amount of people at 4 * 60 * 60 = 14400.

In [771]:
df[df["station"]=='WORLD TRADE CTR'].iloc[527:530]

,stat_id,c/a,unit,scp,station,linename,division,desc,entries,exits,entries_abs,exits_abs
datetime,,,,,,,,,,,,
2022-10-01 00:00:00,WORLD TRADE CTR 01-05-00 N094,N094,R029,01-05-00,WORLD TRADE CTR,ACE23,IND,REGULAR,2140135519,9,2.140127e+09,0.0
2022-10-01 08:00:00,WORLD TRADE CTR 01-05-00 N094,N094,R029,01-05-00,WORLD TRADE CTR,ACE23,IND,RECOVR AUD,8098,9,1.000000e+00,0.0
2022-10-01 12:00:00,WORLD TRADE CTR 01-05-00 N094,N094,R029,01-05-00,WORLD TRADE CTR,ACE23,IND,RECOVR AUD,8099,9,1.000000e+00,0.0

I'll drop the index to find and replace these incorrect values with mean of their station respectively.

In [773]:
df.reset_index(inplace=True)

In [774]:
for x,k in df.iterrows():
    #if absolute value of people passed through turnstile is more than 15000, replacing this value with mean.
    if df.loc[x,"entries_abs"]>15000:
        mean=df[(df["entries_abs"]<15000) & (df["station"]==k[5])]["entries_abs"].mean()
        mean=int(mean)    
        df.loc[x,"entries_abs"]=mean

114.19622641509434 10534
70.8645707376058 17000
82.92361883574341 75024
112.87530562347189 108410
115.68731848983543 155344
115.68731848983542 155350
68.19200695047785 161473
66.11011904761905 187644
87.46364379084967 196933
33.28620019436346 202791
47.330798479087456 207939

In [775]:
for x,k in df.iterrows():
    #if absolute value of people passed through turnstile is more than 15000, replacing this value with mean.
    if df.loc[x,"exits_abs"]>15000:
        mean=df[(df["exits_abs"]<15000) & (df["station"]==k[5])]["exits_abs"].mean()
        mean=int(mean)    
        df.loc[x,"exits_abs"]=mean

No incorrect data.

In [776]:
df[df["entries_abs"]>15000]

Empty DataFrame
Columns: [datetime, stat_id, c/a, unit, scp, station, linename, division, desc, entries, exits, entries_abs, exits_abs]
Index: []

In [778]:
df[df["exits_abs"]>15000]

Empty DataFrame
Columns: [datetime, stat_id, c/a, unit, scp, station, linename, division, desc, entries, exits, entries_abs, exits_abs]
Index: []

Changing entries_abs and exits_abs to int

In [780]:
df["entries_abs"]=df["entries_abs"].astype(int)
df["exits_abs"]=df["exits_abs"].astype(int)

In [781]:
df.head(1)

,datetime,stat_id,c/a,unit,scp,station,linename,division,desc,entries,exits,entries_abs,exits_abs
0,2022-10-01,1 AV 00-00-00 H007,H007,R248,00-00-00,1 AV,L,BMT,REGULAR,15845079,19027035,92,474

Now, let's drop: 
- entries and exits (we already used them)
- division - this feature contains information about station owner. This won't be useful for this project.
- c/a - this feature contains information about electrical station that supplies energy for current station. This won't be useful for this project either.
- desc - represent the "REGULAR" scheduled audit event. This won't be useful for this project.

In [782]:
df.drop(columns=["entries","exits","c/a","division","desc"],inplace=True)
df

,datetime,stat_id,unit,scp,station,linename,entries_abs,exits_abs
0,2022-10-01 00:00:00,1 AV 00-00-00 H007,R248,00-00-00,1 AV,L,92,474
1,2022-10-01 04:00:00,1 AV 00-00-00 H007,R248,00-00-00,1 AV,L,19,199
2,2022-10-01 08:00:00,1 AV 00-00-00 H007,R248,00-00-00,1 AV,L,10,167
3,2022-10-01 12:00:00,1 AV 00-00-00 H007,R248,00-00-00,1 AV,L,55,380
4,2022-10-01 16:00:00,1 AV 00-00-00 H007,R248,00-00-00,1 AV,L,91,580
...,...,...,...,...,...,...,...,...
210010,2022-10-07 05:00:00,ZEREGA AV 00-05-01 R419,R326,00-05-01,ZEREGA AV,6,0,0
210011,2022-10-07 09:00:00,ZEREGA AV 00-05-01 R419,R326,00-05-01,ZEREGA AV,6,0,0
210012,2022-10-07 13:00:00,ZEREGA AV 00-05-01 R419,R326,00-05-01,ZEREGA AV,6,0,0
210013,2022-10-07 17:00:00,ZEREGA AV 00-05-01 R419,R326,00-05-01,ZEREGA AV,6,0,0
210014,2022-10-07 21:00:00,ZEREGA AV 00-05-01 R419,R326,00-05-01,ZEREGA AV,6,0,0

Saving file to csv.

In [785]:
df.to_csv('../data/df_cleaned.csv',index=False)

In [786]:
dd=pd.read_csv('../data/df_cleaned.csv',index_col="datetime")
dd

,stat_id,unit,scp,station,linename,entries_abs,exits_abs
datetime,,,,,,,
2022-10-01 00:00:00,1 AV 00-00-00 H007,R248,00-00-00,1 AV,L,92,474
2022-10-01 04:00:00,1 AV 00-00-00 H007,R248,00-00-00,1 AV,L,19,199
2022-10-01 08:00:00,1 AV 00-00-00 H007,R248,00-00-00,1 AV,L,10,167
2022-10-01 12:00:00,1 AV 00-00-00 H007,R248,00-00-00,1 AV,L,55,380
2022-10-01 16:00:00,1 AV 00-00-00 H007,R248,00-00-00,1 AV,L,91,580
...,...,...,...,...,...,...,...
2022-10-07 05:00:00,ZEREGA AV 00-05-01 R419,R326,00-05-01,ZEREGA AV,6,0,0
2022-10-07 09:00:00,ZEREGA AV 00-05-01 R419,R326,00-05-01,ZEREGA AV,6,0,0
2022-10-07 13:00:00,ZEREGA AV 00-05-01 R419,R326,00-05-01,ZEREGA AV,6,0,0
2022-10-07 17:00:00,ZEREGA AV 00-05-01 R419,R326,00-05-01,ZEREGA AV,6,0,0
2022-10-07 21:00:00,ZEREGA AV 00-05-01 R419,R326,00-05-01,ZEREGA AV,6,0,0