In [4]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup
from statistics import mode
import requests
import re
import time
from IPython.display import clear_output
from tqdm.notebook import tqdm

pd.set_option('display.max_rows', 200)

Getting links from the website

In [5]:
def get_list_of_files():
    """Parse the website, 
    gets the full list of file links"""
    url = "http://web.mta.info/developers/turnstile.html"
    res=requests.get(url)
    if res.status_code == 200:
        page=BeautifulSoup(res.content)
        mydivs = page.find_all("div", {"class": "span-84 last"})
        file_list = []
        for div in mydivs:
            files=div.findAll('a')
        for file in files:
            file_list.append("http://web.mta.info/developers/"+file['href'])
        return file_list

Downloading data for the last 52 weeks (year)

In [7]:
def get_data(weeks_num):
    '''Gets array of links and downloads necessary amount due to passed value'''
    links=get_list_of_files()
    #initial subset, all other will be added to it   
    df_first=pd.read_csv(links[0],sep=',')
    #looping through array of links to get the data
    for week in range(1,weeks_num):
        #getting df
        df_temp=pd.read_csv(links[week],sep=',')
        #concats downloaded part to main df
        df=pd.concat([df_temp,df_first],axis=0,ignore_index=True)
        #resets index
        df.reset_index(inplace=True,drop=True)
        df_first=df
        #prints out intermediate status
        print(f"Downloading {week} week of {weeks_num}")
        #loop makes a pause for one second to prevent website overload
        time.sleep(1)
        clear_output()
    print("Done")
    return df_first

In [8]:
df=get_data(52)

Done

Almost 11_000_000 rows

In [9]:
df.shape

(10956784, 11)

Check for possible null values

In [10]:
df.isnull().sum()

C/A                                                                     0
UNIT                                                                    0
SCP                                                                     0
STATION                                                                 0
LINENAME                                                                0
DIVISION                                                                0
DATE                                                                    0
TIME                                                                    0
DESC                                                                    0
ENTRIES                                                                 0
EXITS                                                                   0
dtype: int64

No null values

Check for colums dtypes

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10956784 entries, 0 to 10956783
Data columns (total 11 columns):
 #   Column                                                                Dtype
---  ------                                                                -----
 0   C/A                                                                   object
 1   UNIT                                                                  object
 2   SCP                                                                   object
 3   STATION                                                               object
 4   LINENAME                                                              object
 5   DIVISION                                                              object
 6   DATE                                                                  object
 7   TIME                                                                  object
 8   DESC                                                                  object
 9   ENTRIES                                                               int64
 10  EXITS                                                                 int64
dtypes: int64(2), object(9)
memory usage: 919.5+ MB

All columns except DATE and TIME are in the correct format. Let's unite that columns and change to datetime.

In [12]:
# snake_case column names
df.columns=df.columns.str.lower().str.replace(" ","")
# converting date to datetime format and dropping initial columns
df["datetime"]=df["date"]+" "+df["time"]
df.datetime=pd.to_datetime(df["datetime"])
df.drop(columns=["date","time"],inplace=True)

In [13]:
df.head(2)

,c/a,unit,scp,station,linename,division,desc,entries,exits,datetime
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,REGULAR,7653692,2620310,2021-10-16 00:00:00
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,REGULAR,7653704,2620320,2021-10-16 04:00:00

Now features are fine

----

This code creates multindex that will help group dataframe and calculate absolute values for entries and exits instead of relevant.

In [14]:
df['stat_id']=df["station"]+" "+df["scp"]+" "+df["c/a"]
df=df.set_index(["stat_id","datetime"]).sort_index()

Some of the data from turnstiles is reversed in the dataset. That causes negative values. For that purpose I'll take abs of diff() values.This method gets grouped dataframe and returns absolute values for entries and exits instead of relevant.

In [16]:
def calc(temp):
    #after recieving subset, creating another column with absolute values of passengers.    
    temp['entries_abs']=temp['entries'].diff().abs()
    temp['exits_abs']=temp['exits'].diff().abs()   
    return temp

In [17]:
#groupping by first index (stat_id) and applying calc() function.
df=df.groupby(level=0).apply(lambda x: calc(x))

In [18]:
df

                                              c/a  unit       scp    station  \
stat_id                 datetime
1 AV 00-00-00 H007      2021-10-16 00:00:00  H007  R248  00-00-00       1 AV
                        2021-10-16 04:00:00  H007  R248  00-00-00       1 AV
                        2021-10-16 08:00:00  H007  R248  00-00-00       1 AV
                        2021-10-16 12:00:00  H007  R248  00-00-00       1 AV
                        2021-10-16 16:00:00  H007  R248  00-00-00       1 AV
...                                           ...   ...       ...        ...
ZEREGA AV 00-05-01 R419 2022-10-14 05:00:00  R419  R326  00-05-01  ZEREGA AV
                        2022-10-14 09:00:00  R419  R326  00-05-01  ZEREGA AV
                        2022-10-14 13:00:00  R419  R326  00-05-01  ZEREGA AV
                        2022-10-14 17:00:00  R419  R326  00-05-01  ZEREGA AV
                        2022-10-14 21:00:00  R419  R326  00-05-01  ZEREGA AV

                                            linename division     desc  \
stat_id                 datetime
1 AV 00-00-00 H007      2021-10-16 00:00:00        L      BMT  REGULAR
                        2021-10-16 04:00:00        L      BMT  REGULAR
                        2021-10-16 08:00:00        L      BMT  REGULAR
                        2021-10-16 12:00:00        L      BMT  REGULAR
                        2021-10-16 16:00:00        L      BMT  REGULAR
...                                              ...      ...      ...
ZEREGA AV 00-05-01 R419 2022-10-14 05:00:00        6      IRT  REGULAR
                        2022-10-14 09:00:00        6      IRT  REGULAR
                        2022-10-14 13:00:00        6      IRT  REGULAR
                        2022-10-14 17:00:00        6      IRT  REGULAR
                        2022-10-14 21:00:00        6      IRT  REGULAR

                                              entries     exits  entries_abs  \
stat_id                 datetime
1 AV 00-00-00 H007      2021-10-16 00:00:00  15644134  18145813          NaN
                        2021-10-16 04:00:00  15644151  18146053         17.0
                        2021-10-16 08:00:00  15644173  18146229         22.0
                        2021-10-16 12:00:00  15644247  18146605         74.0
                        2021-10-16 16:00:00  15644355  18147155        108.0
...                                               ...       ...          ...
ZEREGA AV 00-05-01 R419 2022-10-14 05:00:00        39       289          0.0
                        2022-10-14 09:00:00        39       289          0.0
                        2022-10-14 13:00:00        39       289          0.0
                        2022-10-14 17:00:00        39       289          0.0
                        2022-10-14 21:00:00        39       289          0.0

                                             exits_abs
stat_id                 datetime
1 AV 00-00-00 H007      2021-10-16 00:00:00        NaN
                        2021-10-16 04:00:00      240.0
                        2021-10-16 08:00:00      176.0
                        2021-10-16 12:00:00      376.0
                        2021-10-16 16:00:00      550.0
...                                                ...
ZEREGA AV 00-05-01 R419 2022-10-14 05:00:00        0.0
                        2022-10-14 09:00:00        0.0
                        2022-10-14 13:00:00        0.0
                        2022-10-14 17:00:00        0.0
                        2022-10-14 21:00:00        0.0

[10956784 rows x 11 columns]

Check for negative values

In [19]:
df[df["entries_abs"]<0]

Empty DataFrame
Columns: [c/a, unit, scp, station, linename, division, desc, entries, exits, entries_abs, exits_abs]
Index: []

In [20]:
df[df["exits_abs"]<0]

Empty DataFrame
Columns: [c/a, unit, scp, station, linename, division, desc, entries, exits, entries_abs, exits_abs]
Index: []

Checking and dropping all NaN values

In [21]:
df.isnull().sum()

c/a               0
unit              0
scp               0
station           0
linename          0
division          0
desc              0
entries           0
exits             0
entries_abs    5085
exits_abs      5085
dtype: int64

In [22]:
df.dropna(inplace=True)
df.isnull().sum()

c/a            0
unit           0
scp            0
station        0
linename       0
division       0
desc           0
entries        0
exits          0
entries_abs    0
exits_abs      0
dtype: int64

----

As you can see on the "entries" column, for the turnstile 01-05-00 at WORLD TRADE CTR Station, calculated number of entries was 2146956625, and in eight hours it changes to 8098. That seriously affects absolute value calculation.

In [23]:
df.loc["WORLD TRADE CTR 01-03-04 N094"].iloc[1855:1860]

,c/a,unit,scp,station,linename,division,desc,entries,exits,entries_abs,exits_abs
datetime,,,,,,,,,,,
2022-08-21 08:00:00,N094,R029,01-03-04,WORLD TRADE CTR,ACE23,IND,REGULAR,527005,183608,3.000000e+00,4.0
2022-08-21 12:00:00,N094,R029,01-03-04,WORLD TRADE CTR,ACE23,IND,REGULAR,2146956625,183611,2.146430e+09,3.0
2022-08-21 16:00:00,N094,R029,01-03-04,WORLD TRADE CTR,ACE23,IND,REGULAR,527071,183618,2.146430e+09,7.0
2022-08-21 20:00:00,N094,R029,01-03-04,WORLD TRADE CTR,ACE23,IND,REGULAR,527116,183624,4.500000e+01,6.0
2022-08-22 00:00:00,N094,R029,01-03-04,WORLD TRADE CTR,ACE23,IND,REGULAR,527129,183626,1.300000e+01,2.0

Another example of incorrect data - some of the turnstile detectors were reseted. Since entries and exits columns show the change of amount of passengers, the main problem is between two rows with different calculation system. For example:

In [24]:
df.loc["125 ST 00-06-00 R258"].iloc[-60:-40]

,c/a,unit,scp,station,linename,division,desc,entries,exits,entries_abs,exits_abs
datetime,,,,,,,,,,,
2022-10-02 17:00:00,R258,R132,00-06-00,125 ST,456,IRT,REGULAR,1863346609,1410543169,9.700000e+01,1.410000e+02
2022-10-02 21:00:00,R258,R132,00-06-00,125 ST,456,IRT,REGULAR,1863346661,1410543282,5.200000e+01,1.130000e+02
2022-10-03 13:00:00,R258,R132,00-06-00,125 ST,456,IRT,REGULAR,275772569,324330907,1.587574e+09,1.086212e+09
2022-10-03 17:00:00,R258,R132,00-06-00,125 ST,456,IRT,REGULAR,275772802,324331132,2.330000e+02,2.250000e+02
2022-10-04 01:00:00,R258,R132,00-06-00,125 ST,456,IRT,REGULAR,275772931,324331363,1.290000e+02,2.310000e+02
2022-10-04 05:00:00,R258,R132,00-06-00,125 ST,456,IRT,REGULAR,275772935,324331394,4.000000e+00,3.100000e+01
2022-10-04 09:00:00,R258,R132,00-06-00,125 ST,456,IRT,REGULAR,275772980,324331921,4.500000e+01,5.270000e+02
2022-10-04 13:00:00,R258,R132,00-06-00,125 ST,456,IRT,REGULAR,275773000,324332194,2.000000e+01,2.730000e+02
2022-10-05 05:00:00,R258,R132,00-06-00,125 ST,456,IRT,REGULAR,275773227,324332636,2.270000e+02,4.420000e+02
2022-10-05 09:00:00,R258,R132,00-06-00,125 ST,456,IRT,REGULAR,275773365,324332903,1.380000e+02,2.670000e+02
2022-10-06 13:00:00,R258,R132,00-06-00,125 ST,456,IRT,REGULAR,275773530,324333223,1.650000e+02,3.200000e+02
2022-10-06 21:00:00,R258,R132,00-06-00,125 ST,456,IRT,REGULAR,1325,254,2.757722e+08,3.243330e+08
2022-10-07 01:00:00,R258,R132,00-06-00,125 ST,456,IRT,REGULAR,1362,327,3.700000e+01,7.300000e+01
2022-10-07 05:00:00,R258,R132,00-06-00,125 ST,456,IRT,REGULAR,1375,359,1.300000e+01,3.200000e+01
2022-10-07 09:00:00,R258,R132,00-06-00,125 ST,456,IRT,REGULAR,1551,783,1.760000e+02,4.240000e+02
2022-10-07 13:00:00,R258,R132,00-06-00,125 ST,456,IRT,REGULAR,1688,1029,1.370000e+02,2.460000e+02
2022-10-07 17:00:00,R258,R132,00-06-00,125 ST,456,IRT,REGULAR,1933,1425,2.450000e+02,3.960000e+02
2022-10-07 21:00:00,R258,R132,00-06-00,125 ST,456,IRT,REGULAR,2101,1686,1.680000e+02,2.610000e+02
2022-10-08 01:00:00,R258,R132,00-06-00,125 ST,456,IRT,REGULAR,2151,1815,5.000000e+01,1.290000e+02
2022-10-08 05:00:00,R258,R132,00-06-00,125 ST,456,IRT,REGULAR,2155,1853,4.000000e+00,3.800000e+01

 So I'll change this incorrect values with the mean value of this exact station. The threshold to detect such fluctuations will be if that absolute value is greater than 15000. I follow the logic that it is phisically impossible to pass turnstile faster than for a second. For a period of 4 hours this gives us theoretical max amount of people at 4 * 60 * 60 = 14400.

First of all, I'll drop the index to find and replace these incorrect values with mean of their station respectively.

In [25]:
df.reset_index(inplace=True)

Now let's replace incorrect values with mean.

In [26]:
for x,k in df.iterrows():
    #if absolute value of people passed through turnstile is more than 15000, replacing this value with mean.
    if df.loc[x,"entries_abs"]>15000:
        mean=df[(df["entries_abs"]<15000) & (df["station"]==k[5])]["entries_abs"].mean()
        mean=int(mean)    
        df.loc[x,"entries_abs"]=mean

In [27]:
for x,k in df.iterrows():
    #if absolute value of people passed through turnstile is more than 15000, replacing this value with mean.
    if df.loc[x,"exits_abs"]>15000:
        mean=df[(df["exits_abs"]<15000) & (df["station"]==k[5])]["exits_abs"].mean()
        mean=int(mean)    
        df.loc[x,"exits_abs"]=mean

Check for incorrect data.

In [28]:
df[df["entries_abs"]>15000]

Empty DataFrame
Columns: [stat_id, datetime, c/a, unit, scp, station, linename, division, desc, entries, exits, entries_abs, exits_abs]
Index: []

In [29]:
df[df["exits_abs"]>15000]

Empty DataFrame
Columns: [stat_id, datetime, c/a, unit, scp, station, linename, division, desc, entries, exits, entries_abs, exits_abs]
Index: []

Everything is fine.

----

Now, let's change entries_abs and exits_abs to int and after that I'll drop: 
- entries and exits (we already used them)
- division - this feature contains information about station owner. This won't be useful for this project.
- c/a - this feature contains information about electrical station that supplies energy for current station. This won't be useful for this project either.
- desc - represent the "REGULAR" scheduled audit event. This won't be useful for this project.

In [30]:
#changing columns type
df["entries_abs"]=df["entries_abs"].astype(int)
df["exits_abs"]=df["exits_abs"].astype(int)
#droping columns
df.drop(columns=["entries","exits","c/a","division","desc"],inplace=True)
#adding weekday column
df['weekday'] = df['datetime'].dt.day_name()
df

,stat_id,datetime,unit,scp,station,linename,entries_abs,exits_abs,weekday
0,1 AV 00-00-00 H007,2021-10-16 04:00:00,R248,00-00-00,1 AV,L,17,240,Saturday
1,1 AV 00-00-00 H007,2021-10-16 08:00:00,R248,00-00-00,1 AV,L,22,176,Saturday
2,1 AV 00-00-00 H007,2021-10-16 12:00:00,R248,00-00-00,1 AV,L,74,376,Saturday
3,1 AV 00-00-00 H007,2021-10-16 16:00:00,R248,00-00-00,1 AV,L,108,550,Saturday
4,1 AV 00-00-00 H007,2021-10-16 20:00:00,R248,00-00-00,1 AV,L,167,635,Saturday
...,...,...,...,...,...,...,...,...,...
10951694,ZEREGA AV 00-05-01 R419,2022-10-14 05:00:00,R326,00-05-01,ZEREGA AV,6,0,0,Friday
10951695,ZEREGA AV 00-05-01 R419,2022-10-14 09:00:00,R326,00-05-01,ZEREGA AV,6,0,0,Friday
10951696,ZEREGA AV 00-05-01 R419,2022-10-14 13:00:00,R326,00-05-01,ZEREGA AV,6,0,0,Friday
10951697,ZEREGA AV 00-05-01 R419,2022-10-14 17:00:00,R326,00-05-01,ZEREGA AV,6,0,0,Friday
10951698,ZEREGA AV 00-05-01 R419,2022-10-14 21:00:00,R326,00-05-01,ZEREGA AV,6,0,0,Friday

Saving file to csv.

In [31]:
df.to_csv('../data/df_cleaned_year.csv',index=False)